atomicwrites==1.4.1
cssmin==0.2.0
email_validator==2.0.0.post2
Flask==2.3.3
Flask-Assets==2.0
Flask-Babel==4.0.0
Flask-Login==0.6.2
Flask-Restx==1.1.0
Flask-Session==0.5.0
gunicorn==21.2.0
jsmin==3.0.1
psutil==5.9.5
pyotp==2.9.0
qrcode==7.4.2
requests==2.31.0
suntime==1.2.5
