{% extends "base.html" %}
{% block content %}
<div class="container">
    <form id="form-ubuttons" class="row needs-validation" action="{{ url_for('settings.index') }}" method="POST">
        {{form_ubuttons.csrf_token}}
        <div class="row">
            <h4 class="p-0">Settings</h3>
        </div>
        <hr class="p-0 ">
        <div class="p-0 mt-1">Users buttons</div>
        {% for field in form_ubuttons.user_buttons %}
        <div id="{{field.label.text|lower}}" class="row row-cols-4 row-cols-md-4 g-1">
            {{ field.csrf_token}}
            <div class="col">{{render.field(field["name"])}}</div>
            <div class="col">{{render.field(field.macro)}}</div>
            <div class="col">{{render.field(field.css_class)}}</div>
            <div class="col">{{render.field(field.style)}}</div>
            <div class="col">{{render.field(field.other)}}</div>
            <div class="col {% if not field.name %}d-none{%endif%}" id="btn_add_button">{{field.add_button}}</div>
            <div class="col {% if field.name %}d-none{%endif%}" id="btn_del_button">{{field.del_button}}</div>
        </div>
        {% endfor%}
    </form>
        <hr class="mt-3">
        <div class="p-0 m-0">Users</div>
    <form id="form-users" class="row needs-validation" action="{{ url_for('settings.index') }}" method="POST">
        {% for field in form_users.users %}
        {{form_users.csrf_token}}
        <div id="{{field.label.text|lower}}" class="row row-cols-4 row-cols-md-4 g-1">
            {{ field.csrf_token}}
            <div class="col">{{render.field(field.user_id)}}</div>
            <div class="col">{{render.field(field.password)}}</div>
            <div class="col">{{render.field(field.rights)}}</div>
            <div class="col {% if field.user_id.data is not none %}d-none{%endif%}" id="btn_add_user">{{field.add_user}}
            </div>
            <div class="col {% if field.user_id.data is none %}d-none{%endif%}" id="btn_del_user">{{field.del_user}}
            </div>
        </div>
        {%endfor%}
    </form>
        <hr class="mt-3">
     <form id="form-token" class="row needs-validation" action="{{ url_for('settings.index') }}" method="POST">
        {{form_token.csrf_token}}
        <div class="p-0 m-0">Token camera<p class="text-body-secondary">The generation of the token allows it to be
                passed as a parameter of the pages to avoid authentication. ex: {url}/?token=B123456</p>
        </div>
        <div class="row row-cols-4 row-cols-md-4 g-1">
            <div class="col col-md-7">
                <div class="input-group">
                    {{form_token.token(class="form-control form-control-sm",disabled="disabled")}}
                    {{form_token.copy(class="btn btn-sm btn-outline-secondary")|safe}}
                    {{form_token.generate(class="btn btn-sm btn-outline-secondary")|safe}}
                    {{form_token.reset(class="btn btn-sm btn-outline-secondary")|safe}}
                </div>
            </div>
        </div>
    </form>
    <hr class="mt-3">
    <form id="form-sets" class="row needs-validation" method="POST" action="{{url_for('settings.index')}}">
        {{form_sets.csrf_token}}
        <div class="row row-cols-2 row-cols-md-2 g-1">
            <div class="col">{{form_sets.servo.label(class="form-check-label")}}</div>
            <div class="col col-md-2">
                <div class="form-check form-switch">
                    {{form_sets.servo(class="form-check-input")}}
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-2 g-1">
            <div class="col">{{form_sets.pipan.label(class="form-check-label")}}</div>
            <div class="col col-md-2">
                <div class="form-check form-switch">
                    {{form_sets.pipan(class="form-check-input")}}
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-2 g-1">
            <div class="col">{{form_sets.pilight.label(class="form-check-label")}}</div>
            <div class="col col-md-2">
                <div class="form-check form-switch">
                    {{form_sets.pilight(class="form-check-input")}}
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row row-cols-2 row-cols-md-2 g-1">
            <div class="col">{{form_sets.upreset.label(class="form-label")}}</div>
            <div class="col col-md-2">{{form_sets.upreset}}</div>
        </div>
    </form>
</div>
{% endblock %}

{%block extrascripts%}
<script language="javascript">
    var templ_user = $('div[id|="users"]:last').clone();
    var templ_ubutton = $('div[id|="user_buttons"]:last').clone();

    $('div[id|=users]:last [name|="users"]').removeAttr('onchange', 'onclick')
    $('div[id|=user_buttons]:last [name|="user_buttons"]').removeAttr('onchange', 'onclick')

    function add_line(last_obj, template) {
        ref = template.clone()
        last_id = last_obj.prop("id").split('-')
        prefix = last_id[0]
        id = parseInt(last_id[1])
        ref_id = ref.prop("id")
        ref.prop("id", ref_id.replace(/(.*)-(.*)/, '$1-' + (id + 1)))
        ref.find('[id|="' + prefix + '"]').filter(function () {
            this_id = $(this).prop("id")
            $(this).prop("id", this_id.replace(/(.*)-(.*)-(.*)/, '$1-' + (id + 1) + '-$3'))
            if ($(this).attr("name"))
                $(this).attr("name", $(this).prop("id"))
        });
        ref.insertAfter('#' + last_obj.prop('id'))
    }

    $(document).ready(function () {
        $('#main').addClass("d-none")
    });

    $('#generate').unbind();
    $('#generate').click(function () {
        $.post('{{ url_for('settings.index') }}', { 'token': 'generate' }, function (data) {
            $('#token').val(data['token']);
        });
    });

    $('#reset').unbind();
    $('#reset').click(function () {
        $.post('{{url_for('settings.index')}}', { 'token': 'reset' }, function () {
            $('#token').val('');
        });
    });

    $('#copy').unbind();
    $('#copy').click(function () {
        copyToClipboard('#token');
    });

    $('form').unbind();
    $('form').on("submit", function (event) {
        $.post(event.target.action, $(event.target).find('input,select,textarea').serialize())
        event.preventDefault();
    });

    function add_user(obj) {
        $('#form-users').trigger("submit");
        ref = $(obj).parent().parent();
        ref.find('#btn_add_user').addClass('d-none');
        ref.find('#btn_del_user').removeClass('d-none');
        add_line($('div[id|="users"]:last'), templ_user);
    }

    function del_user(obj) {
        $(obj).parent().parent().remove();
        $('div[id|="users"]:last').remove()
        $('#form-users').trigger("submit");
        add_line($('div[id|="users"]:last'), templ_user);
    }

    function add_button(obj) {
        $('#form-ubuttons').trigger("submit");
        ref = $(obj).parent().parent();
        ref.find('#btn_add_ubutton').addClass('d-none');
        ref.find('#btn_del_ubutton').removeClass('d-none');
        add_line($('div[id|="user_buttons"]:last'), templ_ubutton);
    }

    function del_button(obj) {
        $(obj).parent().parent().remove()
        $('div[id|="user_buttons"]:last').remove()
        $('#form-ubuttons').trigger("submit");
        add_line($('div[id|="user_buttons"]:last'), templ_ubutton);
    }

    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).val()).select();
        document.execCommand("copy");
        $temp.remove();
    }

</script>
{%endblock%}