/*! night.css classes dark viewing conditions */

body {
  background-color: #202020;
}

.btn-default {
  background-color: #404040;
  color: #c0c0c0;
}

.panel-default > .panel-heading {
  background-color: #404040;
  color: #c0c0c0;
}

.panel-collapse {
  background-color: #202020;
  color: #c0c0c0;
}
.settingsTable input {
  background-color: #202020;
  color: #c0c0c0;
}
.settingsTable select {
  background-color: #202020;
  color: #c0c0c0;
}

fieldset {
  color: #808080;
}

#background {
  background-color: #202020;
}
