{% macro button(field) %}
  {{ field(class="btn btn-primary", **kwargs) | safe}}
{% endmacro%}

{% macro cancel_button() %}
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
{% endmacro%}

{% macro flash_message(category)%}
<!-- Flash message -->
{% with messages = get_flashed_messages(with_categories=true, category_filter=category) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="col-auto mx-5 my-2">
    <div class="alert alert-warning alert-dismissible fade show {{category}}" role="alert" >
      <small>{{ message }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endmacro%}

{% macro field(field) %}
  {% if field.errors %}
  {% set css_class='is-invalid' + kwargs.pop('class','') %}
  {{ field(class=css_class,**kwargs)|safe }}
    <div class="invalid-feedback">
    {% for error in field.errors %}
      {{ error }}
    {% endfor %}
    </div>
  {% else %}
    {{ field(**kwargs)|safe }}
  {% endif %}
{% endmacro %}
