{% macro field(field) %}
  {% if kwargs.label_before %}{{ field.label(class="form-label col-form-label mb-1") }}{% endif %}
    {{ field(class="form-control is-invalid" if field.errors else "form-control", placeholder=field.label.text, **kwargs)|safe }}
    {% if field.errors %}
      <div class="invalid-feedback">
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
      </div>
    {% endif %}  
  {% if kwargs.label_after %}{{ field.label(class="form-label col-form-label mt-1") }}{% endif %}
{% endmacro%}

{% macro field_switch(field) %}
  {% if kwargs.label_before %}{{ field.label(class="form-check-label") }}{% endif %}
  <div class="form-check form-switch">
  {{ field(class_="form-check-input", **kwargs) }}
  {% if kwargs.label_after %}{{ field.label(class="form-check-label") }}{% endif %}
    {% if field.errors %}
      <div class="invalid-feedback">
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
      </div>
    {% endif %}  
  </div>
{% endmacro %}

{% macro field_check(field) %}
  <div class="form-check">
  {{ field(class_="form-check-input", **kwargs) | safe}}
  {{ field.label(class_="form-check-label", **kwargs) | safe}}
    {% if field.errors %}
      <div class="invalid-feedback">
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
      </div>
    {% endif %} 
  </div>
{% endmacro %}

{% macro field_select(field) %}
  {% if kwargs.label_before %}{{ field.label(class="form-label") }}{% endif %}
  {{ field(class="form-select is-invalid" if field.errors else "form-select", **kwargs)|safe }}
  {% if kwargs.label_after %}{{ field.label(class="form-label") }}{% endif %}   
    {% if field.errors %}
      <div class="invalid-feedback">
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
      </div>
    {% endif %} 
{% endmacro %}

{% macro button(field) %}
  {{ field(class="btn btn-primary", **kwargs) | safe}}
{% endmacro%}

{% macro cancel_button() %}
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
{% endmacro%}

{% macro form_floating(field) %}
{% if kwargs.label %}
<div class="form-floating">
  {{ field(**kwargs)|safe }}
  {{ field.label }}
</div>
{% else %}
<div class="form-floating">{{field}}</div>
{% endif %}
{% endmacro %}

{% macro form_errors(form) %}
  {% if form.form_errors %}
    <div>
    <ul>
    {% for error in form.form_errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro flash_message(category)%}
<!-- Flash message -->
{% with messages = get_flashed_messages(with_categories=true, category_filter=category) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="col-auto mx-5 my-2">
    <div class="alert alert-warning alert-dismissible fade show {{category}}" role="alert" >
      <small>{{ message }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endmacro%}

{% macro make_input(id,size,selkey='',type='text', class='') %}
  {% if not selfkey %}{% set selkey=id%}{%endif%}
  {% if selfkey == 'tl_interval'%}
    {% if selfkey in g.config%}
      {% set value=g.config[selkey]/10 %}
    {% else %}
      {% set value=3 %}
    {%endif%}
  {%elif selfkey == 'watchdog_interval'%}
    {% if selfkey in g.config%}
      {% set value=g.config[selkey]/10 %}
    {% else %}
      {% set value=0 %}
    {%endif%}
  {%else%}
    {% set value=g.config[selkey] %}
  {% endif %}
  <input type="{{type}}" id="{{id}}" value="{{value}}" class="form-control form-control-sm {{class}}">
{% endmacro%}

{% macro make_options(options,selkey) %}
  {% if selfkey == 'flip'%}
      {% if config['vflip'] == 1 %}{% set vflip=2%}{%else%}{% set vflip=2%}{%endif%}
      {% if config['hflip'] == 1 %}{% set hflip=1%}{%else%}{% set hflip=0%}{%endif%}   
      {% set cvalue=vflip+hflip%}
  {%elif selfkey == 'MP4Box'%}
      {% set cvalue=g.config[selKey]%}
      {% if cvalue == 'background'%}{%set cvalue = 2%}{%endif%}
  {%else%}
    {% set cvalue=g.config[selkey] %}
  {% endif %}

  {% if cvalue == 'false'%}{% set cvalue=0%}{% elif cvalue == 'true'%}{% set cvalue=1%}{%endif%}
  {% for name,value in options.items()%}
    {% if cvalue != value %}{% set selected=''%}{%else%}{% set selected='selected'%}{%endif%}
    <option value='{{value}}' {{selected}}>{{name}}</option>
  {%endfor%}
{% endmacro%}