{% block cam_settings %}

<div class="offcanvas offcanvas-start offcanvas-size-xl" tabindex="-1" id="cameraSetting" aria-labelledby="cameraSettingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="cameraSettingLabel">{{ _('Camera Settings')}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr/>
    <div class="offcanvas-body">
        <div class="row g-3">
            <label class="col col-form-label">Load Preset</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="set_preset(this.value)">
                    <option value="">Select option...</option>
                    {% for preset in presets%}
                    <option value="{{preset.width}} {{preset.height}} {{preset.fps}} {{preset.i_rate}} {{preset.i_width}} {{preset.i_height}}">{{preset.name}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <span>Customs values</span>
        <div class="row g-3">
            <label class="col col-form-label">Video res</label>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm" id="video_width" type="number" value="{{raspiconfig.video_width}}">
                            <span class="input-group-text">px</span>
                        </div>
                    </div> x
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm" id="video_height" type="number" value="{{raspiconfig.video_height}}">
                            <span class="input-group-text">px</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Video fps</label>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm" id="video_fps" type="number" value="{{raspiconfig.video_fps}}">
                            <span class="input-group-text">recording</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm" id="mp4box_fps" type="number" value="{{raspiconfig.mp4box_fps}}">
                            <span class="input-group-text">boxing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">FPS divider</label>
            <div class="col">
                <input class="form-control form-control-sm" id="fps_divider" type="number" value="{{raspiconfig.fps_divider}}">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Image res</label>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm" id="image_width" type="number" value="{{raspiconfig.image_width}}">
                            <span class="input-group-text">px</span>
                        </div>
                    </div> x
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm" id="image_height" type="number" value="{{raspiconfig.image_height}}">
                            <span class="input-group-text">px</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Resolutions</label>
            <div class="col">
                <button class="btn btn-sm btn-primary" onclick="set_res();">OK</button>
            </div>
        </div>
        <hr>
        {% if raspiconfig.camera_num|int > 0 %}
        <div class="row g-3">
            <span>Camera select (Compute module only)</span>
            <label class="col col-form-label">Use camera</label>
            <div class="col">
            <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'cn','params':this.value});">
                <option value="1" {{ 'selected' if raspiconfig.camera_num|int == 1 }}>First</option>
                <option value="2" {{ 'selected' if raspiconfig.camera_num|int == 2 }}>Second</option>
            </select>
            </div>
        </div>
        {%endif%}
        <div class="row g-3">
            <label class="col col-form-label">Timelapse-Interval (0.1...3200):</label>
            <div class="col">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-sm" id="tl_interval" type="number" min="0.1" max="3200" value="{{ (raspiconfig.tl_interval|int /10)|int |default(3)}}" onchange="$.sendCmd({'cmd':'tv','params':(10 * $(this).val()).toString()});">
                     <span class="input-group-text me-1">sec.</span>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Video Split (seconds, default 0=off):</label>
            <div class="col">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-sm" id="video_split" type="number" value="{{raspiconfig.video_split}}" onchange="$.sendCmd({'cmd':'vi','params':$(this).val()});">
                    <span class="input-group-text">sec.</span>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Annotation (max 127 characters)</label>
            <div class="col">
                <div class="input-group">
                    <input class="form-control form-control-sm " id="annotation" type="text" maxlength="127" value="{{raspiconfig.annotation|safe }}" onchange="$.sendCmd({'cmd':'an','params':$(this).val()});">
                    <button class="btn btn-sm btn-outline-secondary" value="Default" onclick="$('#annotation').val('RPi Cam %Y.%M.%D_%h:%m:%s'); $.sendCmd({'cmd':'an','params':$('#annotation').val()});">Default</button>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Background</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'ab','params':this.value});">
                    <option value="1" {{ 'selected' if raspiconfig.anno_background|int == 1 }}>On</option>
                    <option value="0" {{ 'selected' if raspiconfig.anno_background|int == 0 }}>Off</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Annotation size(0-99):</label>
            <div class="col">
                <input class="form-control form-control-sm" id="anno_text_size" type="number" min="0" max="99" value="{{raspiconfig.anno_text_size}}" onchange="$.sendCmd({'cmd':'as','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Custom text color:</label>
            <div class="col">
                <input id="at_yuv" class="form-control form-control-sm" type="color" onchange="set_at(this.value)">
                <input id="at_y" type="hidden" name="at_y" value="{{raspiconfig.anno3_custom_text_Y}}">
                <input id="at_u" type="hidden" name="at_u" value="{{raspiconfig.anno3_custom_text_U}}">
                <input id="at_v" type="hidden" name="at_v" value="{{raspiconfig.anno3_custom_text_V}}">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Custom background color:</label>
            <div class="col">
                <input id="ac_yuv" class="form-control form-control-sm" type="color" onchange="set_ac(this.value)">
                <input id="ac_y" type="hidden" name="ac_y" value="{{raspiconfig.anno3_custom_background_Y}}">
                <input id="ac_u" type="hidden" name="ac_u" value="{{raspiconfig.anno3_custom_background_U}}">
                <input id="ac_v" type="hidden" name="ac_v" value="{{raspiconfig.anno3_custom_background_V}}">
            </div>
        </div>
        {% if file_exists("pilight_on") %}
        <div class="row g-3">
            <label class="col col-form-label">Pi-Light:</label>
            <div class="col">
                R: <input type="text" size="4" id="pilight_r" value="255" min="0" max="255" onchange="led_switch();">
                G: <input type="text" size="4" id="pilight_g" value="255" min="0" max="255" onchange="led_switch();">
                B: <input type="text" size="4" id="pilight_b" value="255" min="0" max="255" onchange="led_switch();">
            </div>
        </div>
        {% endif%}
        <div class="row g-3">
            <label class="col col-form-label">Buffer (1000..ms), default 0</label>
            <div class="col">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-sm " id="video_buffer" type="number" min="0" value="{{raspiconfig.video_buffer}}" onchange="$.sendCmd({'cmd':'bu','params':$(this).val()});">
                    <span class="input-group-text me-1">ms</span>
                </div>            
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Sharpness (-100...100), default 0:</label>
            <div class="col">
                <input class="form-control form-control-sm " id="sharpness" type="number" min="-100" max="100" value="{{raspiconfig.sharpness}}" onchange="$.sendCmd({'cmd':'sh','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Contrast (-100...100), default 0:</label>
            <div class="col">
                <input class="form-control form-control-sm " id="contrast" type="number" min="-100" max="100" value="{{raspiconfig.contrast}}" onchange="$.sendCmd({'cmd':'co','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Brightness (0...100), default 50:</label>
            <div class="col">
                <input class="form-control form-control-sm " id="brightness" type="number" min="0" max="100" value="{{raspiconfig.brightness}}" onchange="$.sendCmd({'cmd':'br','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col-form-label col-6">Saturation (-100...100), default 0:</label>
            <div class="col">
                <input class="form-control form-control-sm " id="saturation" type="number" min="-100" max="100" value="{{raspiconfig.saturation}}" onchange="$.sendCmd({'cmd':'sa','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">ISO (100...800), default 0:</label>
            <div class="col">
                <input class="form-control form-control-sm " id="iso" type="number" min="100" max="800" value="{{raspiconfig.iso}}" onchange="$.sendCmd({'cmd':'is','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Metering Mode, default 'average':</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'mm','params':this.value});">
                    <option value="average" {{'selected' if raspiconfig.metering_mode == "average"}}>Average</option>
                    <option value="spot" {{'selected' if raspiconfig.metering_mode == "spot"}}>Spot</option>
                    <option value="backlit" {{'selected' if raspiconfig.metering_mode == "backlit"}}>Backlit</option>
                    <option value="matrix" {{'selected' if raspiconfig.metering_mode == "matrix"}}>Matrix</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Video Stabilisation, default: 'off'</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'vs','params':this.value});">
                    <option value="0" {{'selected' if raspiconfig.video_stabilisation|int == 0}}>Off</option>
                    <option value="1" {{'selected' if raspiconfig.video_stabilisation|int == 1}}>On</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Exposure Compensation (-10..10), default 0:</label>
            <div class="col">
                <input class="form-control form-control-sm " id="exposure_compensation" type="number" min="-10" max="10" value="{{raspiconfig.exposure_compensation}}" onchange="$.sendCmd({'cmd':'ec','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Exposure Mode, default 'auto':</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'em','params':this.value});">
                    <option value="off" {{'selected' if raspiconfig.exposure_mode == "off"}}>Off</option>
                    <option value="auto" {{'selected' if raspiconfig.exposure_mode == "auto"}}>Auto</option>
                    <option value="night" {{'selected' if raspiconfig.exposure_mode == "night"}}>Night</option>
                    <option value="nightpreview" {{'selected' if raspiconfig.exposure_mode == "nightpreview"}}>Nightpreview</option>
                    <option value="backlight" {{'selected' if raspiconfig.exposure_mode == "backlight"}}>Backlight</option>
                    <option value="spotlight" {{'selected' if raspiconfig.exposure_mode == "spotlight"}}>Spotlight</option>
                    <option value="sports" {{'selected' if raspiconfig.exposure_mode == "sports"}}>Sports</option>
                    <option value="snow" {{'selected' if raspiconfig.exposure_mode == "snow"}}>Snow</option>
                    <option value="beach" {{'selected' if raspiconfig.exposure_mode == "beach"}}>Beach</option>
                    <option value="verylong" {{'selected' if raspiconfig.exposure_mode == "verylong"}}>Verylong</option>
                    <option value="fixedfps" {{'selected' if raspiconfig.exposure_mode == "fixedfps"}}>Fixedfps</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">White Balance, default 'auto':</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'wb','params':this.value});">
                    <option value="off" {{'selected' if raspiconfig.white_balance == "off"}}>Off</option>
                    <option value="auto" {{'selected' if raspiconfig.white_balance == "auto"}}>Auto</option>
                    <option value="sun" {{'selected' if raspiconfig.white_balance == "sun"}}>Sun</option>
                    <option value="cloudy" {{'selected' if raspiconfig.white_balance == "cloudy"}}>Cloudy</option>
                    <option value="shade" {{'selected' if raspiconfig.white_balance == "shade"}}>Shade</option>
                    <option value="tungsten" {{'selected' if raspiconfig.white_balance == "tungsten"}}>Tungsten</option>
                    <option value="fluorescent" {{'selected' if raspiconfig.white_balance == "fluorescen"}}>Fluorescent</option>
                    <option value="incandescent" {{'selected' if raspiconfig.white_balance == "incandesce"}}>Incandescent</option>
                    <option value="flash" {{'selected' if raspiconfig.white_balance == "flash"}}>Flash</option>
                    <option value="horizon" {{'selected' if raspiconfig.white_balance == "horizon"}}>Horizon</option>
                    <option value="greyworld" {{'selected' if raspiconfig.white_balance == "greyworld"}}>Greyworld</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col-6 col-form-label">White Balance Gains (x100):</label>
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">gain_r</span>
                    <input class="form-control form-control-sm " id="ag_r" type="number" min="0" value="{{raspiconfig.autowbgain_r}}" onchange="set_ag();">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">gain_by</span>
                    <input class="form-control form-control-sm " id="ag_b" type="number" value="{{raspiconfig.autowbgain_b}}" onchange="set_ag();">
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Image Effect, default 'none':</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'ie','params':this.value});">
                    <option value="none" {% if raspiconfig.image_effect == "none" %}selected{%endif%}>None</option>
                    <option value="negative" {% if raspiconfig.image_effect == "negative" %}selected{%endif%}>Negative</option>
                    <option value="solarise" {% if raspiconfig.image_effect == "solarise" %}selected{%endif%}>Solarise</option>
                    <option value="sketch" {% if raspiconfig.image_effect == "sketch" %}selected{%endif%}>Sketch</option>
                    <option value="denoise" {% if raspiconfig.image_effect == "denoise" %}selected{%endif%}>Denoise</option>
                    <option value="emboss" {% if raspiconfig.image_effect == "emboss" %}selected{%endif%}>Emboss</option>
                    <option value="oilpaint" {% if raspiconfig.image_effect == "oilpaint" %}selected{%endif%}>Oilpaint</option>
                    <option value="hatch" {% if raspiconfig.image_effect == "hatch" %}selected{%endif%}>Hatch</option>
                    <option value="gpen" {% if raspiconfig.image_effect == "gpen" %}selected{%endif%}>Gpen</option>
                    <option value="pastel" {% if raspiconfig.image_effect == "pastel" %}selected{%endif%}>Pastel</option>
                    <option value="watercolour" {% if raspiconfig.image_effect == "watercolour" %}selected{%endif%}>Watercolour</option>
                    <option value="film" {% if raspiconfig.image_effect == "film" %}selected{%endif%}>Film</option>
                    <option value="blur" {% if raspiconfig.image_effect == "blur" %}selected{%endif%}>Blur</option>
                    <option value="saturation" {% if raspiconfig.image_effect == "saturation" %}selected{%endif%}>Saturation</option>
                    <option value="colourswap" {% if raspiconfig.image_effect == "colourswap" %}selected{%endif%}>Colourswap</option>
                    <option value="washedout" {% if raspiconfig.image_effect == "washedout" %}selected{%endif%}>Washedout</option>
                    <option value="posterise" {% if raspiconfig.image_effect == "posterise" %}selected{%endif%}>Posterise</option>
                    <option value="cartoon" {% if raspiconfig.image_effect == "cartoon" %}selected{%endif%}>Cartoon</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Colour Effect, default 'disabled':</label>
            <div class="col">
                <select class="form-select form-select-sm" id="ce_en" onchange="set_ce();">
                    <option value="0" {{'selected' if raspiconfig.colour_effect_en|int == 0 }}>Disabled</option>
                    <option value="1" {{'selected' if raspiconfig.colour_effect_en|int == 1 }}>Enabled</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <div class="offset-6 col-6 mb-2">
                <div class="row g-3">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">u</span>
                            <input class="form-control form-control-sm " id="ce_u" type="number" value="{{raspiconfig.colour_effect_u}}" onchange="set_ce();">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">v</span>
                            <input class="form-control form-control-sm " id="ce_v" type="number" value="{{raspiconfig.colour_effect_v}}" onchange="set_ce();">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Image Statistics, default 'Off':</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'st','params':this.value});">
                    <option value="0" {{ 'selected' if raspiconfig.stat_pass|int == 0}}>Off</option>
                    <option value="1" {{ 'selected' if raspiconfig.stat_pass|int == 1}}>On</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Rotation, default 0:</label>
            <div class="col">
                <div class="input-group input-group-sm">
                    <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'ro','params':this.value});">
                        <option value="0" {{ 'selected' if raspiconfig.rotation|int == 0}}>0</option>
                        <option value="90" {{ 'selected' if raspiconfig.rotation|int == 90}}>90</option>
                        <option value="180" {{ 'selected' if raspiconfig.rotation|int == 180}}>180</option>
                        <option value="270" {{ 'selected' if raspiconfig.rotation|int == 270}}>270</option>
                    </select>
                    <span class="input-group-text me-1">°</span>
                </div>  
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Flip, default 'none':</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'fl','params':this.value});">
                    <option value="0" {{ 'selected' if raspiconfig.flip == 0}}>None</option>
                    <option value="1" {{ 'selected' if raspiconfig.flip == 1}}>Horizontal</option>
                    <option value="2" {{ 'selected' if raspiconfig.flip == 2}}>Vertical</option>
                    <option value="3" {{ 'selected' if raspiconfig.flip == 3}}>Both</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col-6 col-form-label">Sensor Region, default 0/0/65536/65536:</label>
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">x</span>
                    <input class="form-control form-control-sm " id="roi_x" type="number" value="{{raspiconfig.sensor_region_x}}">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">y</span>
                    <input class="form-control form-control-sm " id="roi_y" type="number" value="{{raspiconfig.sensor_region_y}}" onchange="set_roi();">
                </div>
            </div>            
        </div>
        <div class="row g-3">
            <div class="offset-6 col-6 mb-2">
                <div class="row g-3">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">w</span>
                            <input class="form-control form-control-sm " id="roi_w" type="number" value="{{raspiconfig.sensor_region_w}}" onchange="set_roi();">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">h</span>
                            <input class="form-control form-control-sm " id="roi_h" type="number" value="{{raspiconfig.sensor_region_h}}" onchange="set_roi();">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Shutter speed (0...CameraMax uS), default 0:</label>
            <div class="col">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-sm " id="shutter_speed" type="number" value="{{raspiconfig.shutter_speed}}" onchange="$.sendCmd({'cmd':'ss','params':$(this).val()});">
                     <span class="input-group-text me-1">µsec.</span>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Image quality (0...100), default 10:</label>
            <div class="col">
                <input class="form-control form-control-sm " id="image_quality" type="number" min="0" max="100" value="{{raspiconfig.image_quality}}" onchange="$.sendCmd({'cmd':'qu','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
                <label class="col col-form-label">Preview (1..100), default 10</label>
                <label class="col col-form-label">Width (128..1024), default 512</label>
                <label class="col col-form-label">Divider (1-16), default 1</label>
        </div>
        <div class="row g-3 text-end mb-2">
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Quality</span>
                    <input class="form-control form-control-sm " id="quality" type="number" min="1" max="100" value="{{raspiconfig.quality}}" onchange="set_preview();">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Width</span>
                    <input class="form-control form-control-sm " id="width" type="number" min="128" max="1024" value="{{raspiconfig.width}}" onchange="set_preview();">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Divider</span>
                    <input class="form-control form-control-sm " id="divider" type="number" min="1" max="16" value="{{raspiconfig.divider}}" onchange="set_preview();"> 
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Raw Layer, default: 'off'</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'rl','params':this.value});">
                    <option value="0" {{'selected' if raspiconfig.raw_layer|int == 0 }}>Off</option>
                    <option value="1" {{'selected' if raspiconfig.raw_layer|int == 1 }}>On</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Video bitrate (0...25000000), default 17000000:</label>
            <div class="col">
                <input class="form-control form-control-sm " id="video_bitrate" type="number" min="0" max="25000000" value="{{raspiconfig.video_bitrate}}" onchange="$.sendCmd({'cmd':'bi','params':$(this).val()});">
            </div>
        </div>
        <div class="row row-col-3 g-3">
                <label class="col col-form-label">Minimise frag (0/1), default 0</label>
                <label class="col col-form-label">Init Quantisation, default 25</label>
                <label class="col col-form-label">Encoding qp, default 31</label>
        </div>
        <div class="row row-col-3 g-3 text-end mb-2">
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Frag</span>
                    <input class="form-control form-control-sm " id="minimise_frag" type="number" min="0" max="1" value="{{raspiconfig.minimise_frag}}" onchange="set_encoding();">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Quant</span>
                    <input class="form-control form-control-sm " id="initial_quant" type="number" value="{{raspiconfig.initial_quant}}" onchange="set_encoding();">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">QP</span>
                    <input class="form-control form-control-sm " id="encode_qp" type="number" value="{{raspiconfig.encode_qp}}" onchange="set_encoding();">
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">MP4 Boxing mode : </label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'bo','params':this.value});">
                    <option value="0" {{'selected' if raspiconfig.mp4box|int == 0 }}>Off</option>
                    <option value="1" {{'selected' if raspiconfig.mp4box|int != 0 or raspiconfig.mp4box == 'background'}}>Background</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Watchdog, default interval 3s, errors 3s:</label>
            <div class="col">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Interval</span>
                    <input class="form-control form-control-sm " id="watchdog_interval" type="number" value="{{ (raspiconfig.watchdog_interval|int / 10)|int | default(3) }}" onchange="$.sendCmd({'cmd':'wd','params':[(10 * $('#watchdog_interval').val()).toString(), $('#watchdog_errors').val()]});">
                    <span class="input-group-text me-1">sec.</span>
                    <span class="input-group-text">Errors</span>
                    <input class="form-control form-control-sm " id="watchdog_errors" type="number" value="{{raspiconfig.watchdog_errors}}" onchange="$.sendCmd({'cmd':'wd','params':[(10 * $('#watchdog_interval').val()).toString(), $('#watchdog_errors').val()]});">
                </div>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Motion detect mode:</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="set_motion_external(this.value)">
                    <option value="0" {{'selected' if raspiconfig.motion_external|int == 0}}>Internal</option>
                    <option value="1" {{'selected' if raspiconfig.motion_external|int == 1}}>External</option>
                    <option value="2" {{'selected' if raspiconfig.motion_external|int == 2}}>Monitor</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Log size lines, default 5000:</label>
            <div class="col">
                <input class="form-control form-control-sm " id="log_size" type="number" value="{{raspiconfig.log_size}}" onchange="$.sendCmd({'cmd':'ls','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">HDMI Preview, default: 'off'</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'hp','params':this.value});">
                    <option value="0" {{ 'selected' if raspiconfig.hdmi_preview|int == 0 }}>Off</option>
                    <option value="1" {{ 'selected' if raspiconfig.hdmi_preview|int == 1 }}>On</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {
    let at_yuv=[parseInt($('#at_y').val()),parseInt($('#at_u').val()),parseInt($('#at_v').val())]
    $('#at_yuv').val('#'+colorconv.RGB2HEX(colorconv.YUV2RGB(at_yuv)));
    let ac_yuv=[parseInt($('#ac_y').val()),parseInt($('#ac_u').val()),parseInt($('#ac_v').val())]
    $('#ac_yuv').val('#'+colorconv.RGB2HEX(colorconv.YUV2RGB(ac_yuv)));
});

function set_preset(value) {
  var values = value.split(" ");
  $("#video_width").val(values[0]);
  $("#video_height").val(values[1]);
  $("#video_fps").val(values[2]);
  $("#mp4box_fps").val(values[3]);
  $("#image_width").val(values[4]);
  $("#image_height").val(values[5]);
  set_res();
}

function set_motion_external(value){
    success = function(data) {
        if (!data) {
            if (value == "0")
                $('#motion-mode').prop("href","#motionSetting")
            if (value == "1")
                $('#motion-mode').prop("href","#motionExternal")
        }
    }
    $.sendCmd({cmd:"mx",params:value, success:success});
}

function set_res() {
    params = [$("#video_width").val(),$("#video_height").val(),$("#video_fps").val(),$("#mp4box_fps").val(),$("#image_width").val(),$("#image_height").val(),$("#fps_divider").val()]
    $.sendCmd({"cmd":"px","params":params});
    update_preview_delay();
    updatePreview(true);
}

function set_ce() {
    params = [$("#ce_en").val(),$("#ce_u").val(),$("#ce_v").val()]
    $.sendCmd({"cmd":"ce","params":params});
}

function set_preview() {
    params = [$("#quality").val(),$("#width").val(),$("#divider").val()]
    $.sendCmd({"cmd":"pv","params":params});
    update_preview_delay();
}

function set_encoding() {
    params = [$("#minimise_frag").val(),$("#initial_quant").val(),$("#encode_qp").val()]
    $.sendCmd({"cmd":"qp","params":params});
}

function set_roi() {
    params = [$("#roi_x").val(),$("#roi_y").val(),$("#roi_w").val(),$("#roi_h").val()]
    $.sendCmd({"cmd":"ri","params":params});
}

function set_at(value) {
    let enable = "0"
    let yuv = colorconv.RGB2YUV(colorconv.HEX2RGB(value))
    if (value != "#ffffff")
        enable = "1"
    params = [enable,yuv[0].toString(),yuv[1].toString(),yuv[2].toString()]
    $.sendCmd({"cmd":"at","params":params});
}

function set_ac(value) {
    let enable = "0"
    let yuv = colorconv.RGB2YUV(colorconv.HEX2RGB(value))
    if (value != "#000000")
        enable = "1"
    params = [enable,yuv[0].toString(),yuv[1].toString(),yuv[2].toString()]
    $.sendCmd({"cmd":"ac","params":params});
}

function set_ag() {
    params = [$("#ag_r").val(),$("#ag_b").val()]
    $.sendCmd({"cmd":"ag","params":params});
}

function update_preview_delay() {
    var video_fps = parseInt($("#video_fps").val());
    var divider = parseInt($("#divider").val());
    preview_delay = Math.floor(divider / Math.max(video_fps,1) * 1000);
}
</script>
{% endblock cam_settings %}
