{% block cam_settings %}

<div class="offcanvas offcanvas-start offcanvas-size-xl" tabindex="-1" id="cameraSetting" aria-labelledby="cameraSettingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="cameraSettingLabel">Camera Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr/>
    <div class="offcanvas-body">
        <div class="row g-3">
            <label class="col col-form-label">Load Preset</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="set_preset(this.value)">
                    <option value="">Select option...</option>
                    {% for k,v in presets[preset].items()%}
                    <option value="{{v}}">{{k}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <span>Customs values</span>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Video res</label>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm mb-3">
                            <input class="form-control form-control-sm" id="video_width" type="number" value="{{g.raspiconfig.video_width}}">
                            <span class="input-group-text">px</span>
                        </div>
                    </div> x
                    <div class="col">
                        <div class="input-group input-group-sm mb-3">
                            <input class="form-control form-control-sm" id="video_height" type="number" value="{{g.raspiconfig.video_height}}">
                            <span class="input-group-text">px</span>
                        </div>       
                    </div>             
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Video fps</label>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm mb-3">
                            <input class="form-control form-control-sm" id="video_fps" type="number" value="{{g.raspiconfig.video_fps}}">
                            <span class="input-group-text">recording</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm mb-3">
                            <input class="form-control form-control-sm" id="MP4Box_fps" type="number" value="{{g.raspiconfig.MP4Box_fps}}">
                            <span class="input-group-text">boxing</span>
                        </div>       
                    </div>             
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">FPS divider</label>
            <div class="col">
                <input class="form-control form-control-sm" id="fps_divider" type="number" value="{{g.raspiconfig.fps_divider}}">
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Image res</label>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm mb-3">
                            <input class="form-control form-control-sm" id="image_width" type="number" value="{{g.raspiconfig.image_width}}">
                            <span class="input-group-text">px</span>
                        </div>
                    </div> x
                    <div class="col">
                        <div class="input-group input-group-sm mb-3">
                            <input class="form-control form-control-sm" id="image_height" type="number" value="{{g.raspiconfig.image_height}}">
                            <span class="input-group-text">px</span>
                        </div>       
                    </div>             
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Resolutions</label>
            <div class="col">
                <button class="btn btn-sm btn-primary" onclick="set_res();">OK</button>
            </div>
        </div>
        <hr>
        {% if g.raspiconfig.camera_num|int > 0 %} 
        <div class="row row-col-2 g-3">
            <span>Camera select (Compute module only)</span>
            <label class="col col-form-label">Use camera</label>
            <div class="col">
            <select class="form-select form-select-sm"onchange="send_cmd('cn ' + this.value)">
                <option value="1" {% if g.raspiconfig.camera_num|int == 1 %}selected{%endif%}>First</option>
                <option value="2" {% if g.raspiconfig.camera_num|int == 2 %}selected{%endif%}>Second</option>
                {# {{ render.make_options(options_cn, 'camera_num')}} #}
            </select>
            </div>
        </div>
        {%endif%}   
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Timelapse-Interval (0.1...3200):</label>
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm" id="tl_interval" type="number" value="{{g.raspiconfig.tl_interval|int /10 |default(3)}}">
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('tv ' + 10 * $('#tl_interval').val())">OK</button>       
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Video Split (seconds, default 0=off):</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm" id="video_split" type="number" value="{{g.raspiconfig.video_split}}">
                    <span class="input-group-text">sec.</span>
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('vi ' + $('#video_split').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Annotation (max 127 characters)</label>
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm " id="annotation" type="text" value="{{g.raspiconfig.annotation}}">
                    {# {{ render.make_input('annotation')}} #}
                    <button class="btn btn-sm btn-outline-secondary" value="Default" onclick="$('#annotation').val('RPi Cam %Y.%M.%D_%h:%m:%s'); send_cmd('an ' + encodeURI($('#annotation').val()))">Default</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('an ' + encodeURI($('#annotation').val()))">OK</button>
                </div>
            </div>  
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Background</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="send_cmd('ab ' + this.value)">
                    <option value="0" {% if g.raspiconfig.anno_background|int == 0 %}selected{%endif%}>Off</option>
                    <option value="1" {% if g.raspiconfig.anno_background|int == 1 %}selected{%endif%}>On</option>                
                    {# {{ render.make_options(options_ab, 'anno_background')}} #}
                </select>
            </div>            
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Annotation size(0-99):</label> 
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm" id="anno_text_size" type="number" value="{{g.raspiconfig.anno_text_size}}">
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('as ' + $('#anno_text_size').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Custom text color:</label>
            <div class="col">
                <select class="form-select form-select-sm" id="at_en">
                    <option value="0" {% if g.raspiconfig.anno3_custom_text_colour|int == 0 %}selected{%endif%}>Disabled</option>
                    <option value="1" {% if g.raspiconfig.anno3_custom_text_colour|int == 1 %}selected{%endif%}>Enabled</option>
                    {# {{ render.make_options(options_at_en, 'anno3_custom_text_colour')}} #}
                </select>
            </div>
        </div>
        <div class="row row-cols-4 g-3 mb-3">
            <div class="col-auto">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">y</span>
                    <input class="form-control form-control-sm " id="at_y" type="number" value="{{g.raspiconfig.anno3_custom_text_Y}}">
                    {# {{ render.make_input('at_y', null, 'anno3_custom_text_Y')}} #}
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">u</span>
                    <input class="form-control form-control-sm " id="at_y" type="number" value="{{g.raspiconfig.anno3_custom_text_U}}">
                    {# {{ render.make_input('at_y', null, 'anno3_custom_text_U')}} #}
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">v</span>
                    <input class="form-control form-control-sm " id="at_y" type="number" value="{{g.raspiconfig.anno3_custom_text_V}}">
                    {# {{ render.make_input('at_y', null, 'anno3_custom_text_V')}} #}
                </div>
            </div>                                        
            <div class="col-auto">
                <button class="btn btn-sm btn-outline-secondary" alue="OK" onclick="set_at();">OK</button>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Custom background color:</label>
            <div class="col">
                <select class="form-select form-select-sm"id="ac_en">
                    <option value="0" {% if g.raspiconfig.anno3_custom_background_colour|int == 0 %}selected{%endif%}>Disabled</option>
                    <option value="1" {% if g.raspiconfig.anno3_custom_background_colour|int == 1 %}selected{%endif%}>Enabled</option>                
                    {# {{ render.make_options(options_ac_en, 'anno3_custom_background_colour')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label text-end">y:u:v</label> 
            <div class="col">
                <div class="row">
                    <div class="col">
                        <input class="form-control form-control-sm " id="at_y" type="number" value="{{g.raspiconfig.anno3_custom_background_Y}}">
                        {# {{ render.make_input('at_y', null, 'anno3_custom_background_Y')}} #}
                    </div>:
                    <div class="col">
                        <input class="form-control form-control-sm " id="at_u" type="number" value="{{g.raspiconfig.anno3_custom_background_U}}">
                        {# {{ render.make_input('at_u', null, 'anno3_custom_background_U')}} #}
                    </div>:
                    <div class="col">
                        <input class="form-control form-control-sm " id="at_v" type="number" value="{{g.raspiconfig.anno3_custom_background_V}}">
                        {# {{ render.make_input('at_v', null, 'anno3_custom_background_V')}} #}
                    </div>
                    <div class="col"><button class="btn btn-sm btn-outline-secondary" alue="OK" onclick="set_ac();">OK</button></div>
                </div>
            </div>
        </div>
        {% if file_exists("pilight_on") %}
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Pi-Light:</label>
            <div class="col">
                R: <input type='text' size=4 id='pilight_r' value='255'>
                G: <input type='text' size=4 id='pilight_g' value='255'>
                B: <input type='text' size=4 id='pilight_b' value='255'>
                <br>
                <button class="btn btn-sm btn-outline-secondary" value="ON/OFF" onclick='led_switch();'>ON/OFF</button>
            </div>
        </div>
        {% endif%}
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Buffer (1000..ms), default 0</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="video_buffer" type="number" value="{{g.raspiconfig.video_buffer}}">
                    {# {{ render.make_input('video_buffer', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('bu ' + $('#video_buffer').val())">OK</button>
                </div>
            </div>
        </div>                        
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Sharpness (-100...100), default 0:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="sharpness" type="number" value="{{g.raspiconfig.sharpness}}">
                    {# {{ render.make_input('sharpness', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('sh ' + $('#sharpness').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Contrast (-100...100), default 0:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="contrast" type="number" value="{{g.raspiconfig.contrast}}">
                    {# {{ render.make_input('contrast', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('co ' + $('#contrast').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Brightness (0...100), default 50:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="brightness" type="number" value="{{g.raspiconfig.brightness}}">
                    {# {{ render.make_input('brightness', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('br ' + $('#brightness').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col-form-label col-6">Saturation (-100...100), default 0:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="saturation" type="number" value="{{g.raspiconfig.saturation}}">
                    {# {{ render.make_input('saturation', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('sa ' + $('#saturation').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">ISO (100...800), default 0:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="iso" type="number" value="{{g.raspiconfig.iso}}">
                    {# {{ render.make_input('iso', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('is ' + $('#iso').val())">OK</button>
                </div>                    
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Metering Mode, default 'average':</label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('mm ' + this.value)">
                'Average':'average', 'Spot':'spot', 'Backlit':'backlit', 'Matrix':'matrix'
                    <option value="average" {% if g.raspiconfig.metering_mode == "average" %}selected{%endif%}>Average</option>
                    <option value="spot" {% if g.raspiconfig.metering_mode == "spot" %}selected{%endif%}>Spot</option>
                    <option value="backlit" {% if g.raspiconfig.metering_mode == "backlit" %}selected{%endif%}>Backlit</option>
                    <option value="matrix" {% if g.raspiconfig.metering_mode == "matrix" %}selected{%endif%}>Matrix</option>                    

                    {# {{ render.make_options(options_mm, 'metering_mode')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Video Stabilisation, default: 'off'</label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('vs ' + this.value)">
                    <option value="0" {% if g.raspiconfig.video_stabilisation|int == 0 %}selected{%endif%}>Off</option>
                    <option value="1" {% if g.raspiconfig.video_stabilisation|int == 1 %}selected{%endif%}>On</option>
                    {# {{ render.make_options(options_vs, 'video_stabilisation')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Exposure Compensation (-10..10), default 0:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="exposure_compensation" type="number" value="{{g.raspiconfig.exposure_compensation}}">
                    {# {{ render.make_input('exposure_compensation', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('ec ' + $('#exposure_compensation').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Exposure Mode, default 'auto':</label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('em ' + this.value)">
                    <option value="off" {% if g.raspiconfig.exposure_mode == "off" %}selected{%endif%}>Off</option>
                    <option value="auto" {% if g.raspiconfig.exposure_mode == "auto" %}selected{%endif%}>Auto</option>
                    <option value="night" {% if g.raspiconfig.exposure_mode == "night" %}selected{%endif%}>Night</option>
                    <option value="nightpreview" {% if g.raspiconfig.exposure_mode == "nightpreview" %}selected{%endif%}>Nightpreview</option>
                    <option value="backlight" {% if g.raspiconfig.exposure_mode == "backlight" %}selected{%endif%}>Backlight</option>
                    <option value="spotlight" {% if g.raspiconfig.exposure_mode == "spotlight" %}selected{%endif%}>Spotlight</option>
                    <option value="sports" {% if g.raspiconfig.exposure_mode == "sports" %}selected{%endif%}>Sports</option>
                    <option value="snow" {% if g.raspiconfig.exposure_mode == "snow" %}selected{%endif%}>Snow</option>
                    <option value="beach" {% if g.raspiconfig.exposure_mode == "beach" %}selected{%endif%}>Beach</option>
                    <option value="verylong" {% if g.raspiconfig.exposure_mode == "verylong" %}selected{%endif%}>Verylong</option>
                    <option value="fixedfps" {% if g.raspiconfig.exposure_mode == "fixedfps" %}selected{%endif%}>Fixedfps</option>
                    {# {{ render.make_options(options_em, 'exposure_mode')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">White Balance, default 'auto':</label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('wb ' + this.value)">
                    <option value="off" {% if g.raspiconfig.white_balance == "off" %}selected{%endif%}>Off</option>
                    <option value="auto" {% if g.raspiconfig.white_balance == "auto" %}selected{%endif%}>Auto</option>
                    <option value="sun" {% if g.raspiconfig.white_balance == "sun" %}selected{%endif%}>Sun</option>
                    <option value="cloudy" {% if g.raspiconfig.white_balance == "cloudy" %}selected{%endif%}>Cloudy</option>
                    <option value="shade" {% if g.raspiconfig.white_balance == "shade" %}selected{%endif%}>Shade</option>
                    <option value="tungsten" {% if g.raspiconfig.white_balance == "tungsten" %}selected{%endif%}>Tungsten</option>
                    <option value="fluorescent" {% if g.raspiconfig.white_balance == "fluorescent" %}selected{%endif%}>Fluorescent</option>
                    <option value="incandescent" {% if g.raspiconfig.white_balance == "incandescent" %}selected{%endif%}>Incandescent</option>
                    <option value="flash" {% if g.raspiconfig.white_balance == "flash" %}selected{%endif%}>Flash</option>
                    <option value="horizon" {% if g.raspiconfig.white_balance == "horizon" %}selected{%endif%}>Horizon</option>
                    <option value="greyworld" {% if g.raspiconfig.white_balance == "greyworld" %}selected{%endif%}>Greyworld</option>
                    {# {{ render.make_options(options_wb, 'white_balance')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">White Balance Gains (x100):</label>
            <div class="col">
                <div class="row row-col-3 g-3">
                <div class="col-5">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">gain_r</span>
                        <input class="form-control form-control-sm " id="ag_r" type="number" value="{{g.raspiconfig.autowbgain_r}}">
                        {# {{ render.make_input('ag_r', null, 'autowbgain_r', 'number')}} #}
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">gain_by</span>
                        <input class="form-control form-control-sm " id="ag_b" type="number" value="{{g.raspiconfig.autowbgain_b}}">
                        {# {{ render.make_input('ag_b', null, 'autowbgain_b', 'number')}} #}
                    </div>
                </div>
                <div class="col-2">            
                    <button class="btn btn-sm btn-outline-secondary" onclick="set_ag();">OK</button>
                </div>

                </div>

            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Image Effect, default 'none':</label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('ie ' + this.value)">
                    <option value="none" {% if g.raspiconfig.image_effect == "none" %}selected{%endif%}>None</option>
                    <option value="negative" {% if g.raspiconfig.image_effect == "negative" %}selected{%endif%}>Negative</option>     
                    <option value="solarise" {% if g.raspiconfig.image_effect == "solarise" %}selected{%endif%}>Solarise</option>     
                    <option value="sketch" {% if g.raspiconfig.image_effect == "sketch" %}selected{%endif%}>Sketch</option>     
                    <option value="denoise" {% if g.raspiconfig.image_effect == "denoise" %}selected{%endif%}>Denoise</option>     
                    <option value="emboss" {% if g.raspiconfig.image_effect == "emboss" %}selected{%endif%}>Emboss</option>     
                    <option value="oilpaint" {% if g.raspiconfig.image_effect == "oilpaint" %}selected{%endif%}>Oilpaint</option>     
                    <option value="hatch" {% if g.raspiconfig.image_effect == "hatch" %}selected{%endif%}>Hatch</option>     
                    <option value="gpen" {% if g.raspiconfig.image_effect == "gpen" %}selected{%endif%}>Gpen</option>     
                    <option value="pastel" {% if g.raspiconfig.image_effect == "pastel" %}selected{%endif%}>Pastel</option>     
                    <option value="watercolour" {% if g.raspiconfig.image_effect == "watercolour" %}selected{%endif%}>Watercolour</option>     
                    <option value="film" {% if g.raspiconfig.image_effect == "film" %}selected{%endif%}>Film</option>     
                    <option value="blur" {% if g.raspiconfig.image_effect == "blur" %}selected{%endif%}>Blur</option>     
                    <option value="saturation" {% if g.raspiconfig.image_effect == "saturation" %}selected{%endif%}>Saturation</option>     
                    <option value="colourswap" {% if g.raspiconfig.image_effect == "colourswap" %}selected{%endif%}>Colourswap</option>     
                    <option value="washedout" {% if g.raspiconfig.image_effect == "washedout" %}selected{%endif%}>Washedout</option>     
                    <option value="posterise" {% if g.raspiconfig.image_effect == "posterise" %}selected{%endif%}>Posterise</option>     
                    <option value="cartoon" {% if g.raspiconfig.image_effect == "cartoon" %}selected{%endif%}>Cartoon</option>     
                    {# {{ render.make_options(options_ie, 'image_effect')}}                    #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Colour Effect, default 'disabled':</label>
            <div class="col">
                <select class="form-select form-select-sm" id="ce_en">
                    <option value="0" {% if g.raspiconfig.colour_effect_en|int == 0 %}selected{%endif%}>Disabled</option>
                    <option value="1" {% if g.raspiconfig.colour_effect_en|int == 1 %}selected{%endif%}>Enabled</option>                
                    {# {{ render.make_options(options_ce_en, 'colour_effect_en')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="offset-1 col col-form-label text-end">u:v</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="ce_u" type="number" value="{{g.raspiconfig.colour_effect_u}}">:
                    <input class="form-control form-control-sm " id="ce_v" type="number" value="{{g.raspiconfig.colour_effect_v}}">
                    {# {{ render.make_input('ce_u', null, 'colour_effect_u')}}:{{ render.make_input('ce_v', null, 'colour_effect_v')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="set_ce();">OK</button>
                </div>                    
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Image Statistics, default 'Off':</label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('st ' + this.value)">
                    <option value="0" {% if g.raspiconfig.stat_pass|int == 0 %}selected{%endif%}>Off</option>
                    <option value="1" {% if g.raspiconfig.stat_pass|int == 1 %}selected{%endif%}>On</option>
                    {# {{ render.make_options(options_st, 'stat_pass')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Rotation, default 0:</label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('ro ' + this.value)">
                    <option value="0" {% if g.raspiconfig.rotation|int == 0 %}selected{%endif%}>No rotate</option>
                    <option value="90" {% if g.raspiconfig.rotation|int == 90 %}selected{%endif%}>Rotate 90°</option>                
                    <option value="180" {% if g.raspiconfig.rotation|int == 180 %}selected{%endif%}>Rotate 180°</option>                
                    <option value="270" {% if g.raspiconfig.rotation|int == 270 %}selected{%endif%}>Rotate 270°</option>                
                    {# {{ render.make_options(options_ro, 'rotation')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Flip, default 'none':</label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('fl ' + this.value)">
                    <option value="0" {% if g.raspiconfig.flip == 0 %}selected{%endif%}>None</option>
                    <option value="1" {% if g.raspiconfig.flip == 1 %}selected{%endif%}>Horizontal</option>                
                    <option value="2" {% if g.raspiconfig.flip == 2 %}selected{%endif%}>Vertical</option>                
                    <option value="3" {% if g.raspiconfig.flip == 3 %}selected{%endif%}>Both</option>                
                    {# {{ render.make_options(options_fl, 'flip')}} #}
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col-form-label">Sensor Region, default 0/0/65536/65536:</label>
        </div>
        <div class="row row-col-5 g-3 text-end">
            <div class="col-3">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">x</span>
                    <input class="form-control form-control-sm " id="roi_x" type="number" value="{{g.raspiconfig.sensor_region_x}}">
                    {# {{ render.make_input('roi_x', null, 'sensor_region_x', 'number')}} #}
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">y</span>
                    <input class="form-control form-control-sm " id="roi_y" type="number" value="{{g.raspiconfig.sensor_region_y}}">
                    {# {{ render.make_input('roi_y', null, 'sensor_region_y', 'number')}} #}
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">w</span>
                    <input class="form-control form-control-sm " id="roi_w" type="number" value="{{g.raspiconfig.sensor_region_w}}">
                    {# {{ render.make_input('roi_w', null, 'sensor_region_w', 'number')}} #}
                </div>
            </div>
            <div class="col-2">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">h</span>
                    <input class="form-control form-control-sm " id="roi_h" type="number" value="{{g.raspiconfig.sensor_region_h}}">
                    {# {{ render.make_input('roi_h', null, 'sensor_region_h', 'number')}} #}
                </div>
            </div>
            <div class="col-1"><button class="btn btn-sm btn-outline-secondary" onclick="set_roi();">OK</button></div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Shutter speed (0...CameraMax uS), default 0:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="shutter_speed" type="number" value="{{g.raspiconfig.shutter_speed}}">
                    {# {{ render.make_input('shutter_speed', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('ss ' + $('#shutter_speed').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Image quality (0...100), default 10:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="image_quality" type="number" value="{{g.raspiconfig.image_quality}}">
                    {# {{ render.make_input('image_quality', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('qu ' + $('#image_quality').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-3 g-3">
                <label class="col col-form-label">Preview (1..100), default 10</label>
                <label class="col col-form-label">Width (128..1024), default 512</label>
                <label class="col col-form-label">Divider (1-16), default 1</label>
        </div>
        <div class="row row-col-4 g-3 text-end">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Quality</span>
                    <input class="form-control form-control-sm " id="quality" type="number" value="{{g.raspiconfig.quality}}">
                    {# {{ render.make_input('quality')}} #}
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Width</span>
                    <input class="form-control form-control-sm " id="width" type="number" value="{{g.raspiconfig.width}}">
                    {# {{ render.make_input('width')}} #}
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Divider</span>
                    <input class="form-control form-control-sm " id="divider" type="number" value="{{g.raspiconfig.divider}}">
                    {# {{ render.make_input('divider')}} #}
                </div>
            </div>
            <div class="col"><button class="btn btn-sm btn-outline-secondary" onclick="set_preview();">OK</button></div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Raw Layer, default: 'off'</label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('rl ' + this.value)">
                    <option value="0" {% if g.raspiconfig.raw_layer|int == 0 %}selected{%endif%}>Off</option>
                    <option value="1" {% if g.raspiconfig.raw_layer|int == 1 %}selected{%endif%}>On</option>
                    {# {{ render.make_options(options_rl, 'raw_layer')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Video bitrate (0...25000000), default 17000000:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="video_bitrate" type="number" value="{{g.raspiconfig.video_bitrate}}">
                    {# {{ render.make_input('video_bitrate', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('bi ' + $('#video_bitrate').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-3 g-3">
                <label class="col col-form-label">Minimise frag (0/1), default 0</label>
                <label class="col col-form-label">Init Quantisation, default 25</label>
                <label class="col col-form-label">Encoding qp, default 31</label>
        </div>        
        <div class="row row-col-4 g-3 text-end">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Frag</span>
                    <input class="form-control form-control-sm " id="minimise_frag" type="number" value="{{g.raspiconfig.minimise_frag}}">
                    {# {{ render.make_input('minimise_frag', null, null, 'number')}} #}
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Quant</span>
                    <input class="form-control form-control-sm " id="initial_quant" type="number" value="{{g.raspiconfig.initial_quant}}">
                    {# {{ render.make_input('initial_quant', null, null, 'number')}} #}
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">QP</span>
                    <input class="form-control form-control-sm " id="encode_qp" type="number" value="{{g.raspiconfig.encode_qp}}">
                    {# {{ render.make_input('encode_qp', null, null, 'number')}} #}
                </div>
            </div>
            <div class="col"><button class="btn btn-sm btn-outline-secondary" onclick="set_encoding();">OK</button></div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">MP4 Boxing mode : </label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('bo ' + this.value)">
                    <option value="0" {% if g.raspiconfig.MP4Box != "background" %}selected{%endif%}>Off</option>
                    <option value="2" {% if g.raspiconfig.MP4Box == "background" %}selected{%endif%}>Background</option>                
                    {# {{ render.make_options(options_bo, 'MP4Box')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Watchdog, default interval 3s, errors 3s:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Interval</span>
                     <input class="form-control form-control-sm " id="watchdog_interval" type="number" value="{{ g.raspiconfig.watchdog_interval|int /10| default(3) }} ">
                    {# {{ render.make_input('watchdog_interval', null, null, 'number')}} #}
                    <span class="input-group-text me-1">sec.</span>
                    <span class="input-group-text">Errors</span>
                    <input class="form-control form-control-sm " id="watchdog_errors" type="number" value="{{g.raspiconfig.watchdog_errors}}">
                    {# {{ render.make_input('watchdog_errors', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('wd ' + 10 * $('#watchdog_interval').val() + ' ' + $('#watchdog_errors').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Motion detect mode:</label>
            <div class="col">
                <select class="form-select form-select-sm"onchange="send_cmd('mx ' + this.value);setTimeout(function(){location.reload(true);}, 1000);">
                    <option value="0" {% if g.raspiconfig.motion_external|int == 0 %}selected{%endif%}>Internal</option>
                    <option value="1" {% if g.raspiconfig.motion_external|int == 1 %}selected{%endif%}>External</option>                
                    <option value="2" {% if g.raspiconfig.motion_external|int == 2 %}selected{%endif%}>Monitor</option>                
                    {# {{ render.make_options(options_mx, 'motion_external')}} #}
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Log size lines, default 5000:</label>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm " id="log_size" type="number" value="{{g.raspiconfig.log_size}}">
                    {# {{ render.make_input('log_size', null, null, 'number')}} #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('ls ' + $('#log_size').val())">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">HDMI Preview, default: 'off'</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="send_cmd('hp ' + this.value)">
                    <option value="0" {% if g.raspiconfig.hdmi_preview|int == 0 %}selected{%endif%}>Off</option>
                    <option value="1" {% if g.raspiconfig.hdmi_preview|int == 1 %}selected{%endif%}>On</option>
                    {# {{ render.make_options(options_hp, 'hdmi_preview')}} #}
                </select>
            </div>
        </div>
    </div>
</div>
{% endblock cam_settings %}
{% block extrascripts%}
<script language="javascript">

function set_preset(value) {
  var values = value.split(" ");
  $("#video_width").val(values[0]);
  $("#video_height").val(values[1]);
  $("#video_fps").val(values[2]);
  $("#MP4Box_fps").val(values[3]);
  $("#image_width").val(values[4]);
  $("#image_height").val(values[5]); 
  set_res();
}

function set_res() {
  send_cmd("px " + $("#video_width").val() + " " + $("#video_height").val() + " " + $("#video_fps").val() + " " + $("#MP4Box_fps").val() + " " + $("#image_width").val() + " " + $("#image_height").val() + " " + $("#fps_divider").val());
  update_preview_delay();
  updatePreview(true);
}

function set_ce() {
  send_cmd("ce " + $("#ce_en").val() + " " + $("#ce_u").val() + " " + $("#ce_v").val());
}

function set_preview() {
  send_cmd("pv " + $("#quality").val() + " " + $("#width").val() + " " + $("#divider").val());
  update_preview_delay();
}

function set_encoding() {
  send_cmd("qp " + $("#minimise_frag").val() + " " + $("#initial_quant").val() + " " + $("#encode_qp").val());
}

function set_roi() {
  send_cmd("ri " + $("#roi_x").val() + " " + $("#roi_y").val() + " " + $("#roi_w").val() + " " + $("#roi_h").val());
}

function set_at() {
  send_cmd("at " + $("#at_en").val() + " " + $("#at_y").val() + " " + $("#at_u").val() + " " + $("#at_v").val());
}

function set_ac() {
  send_cmd("ac " + $("#ac_en").val() + " " + $("#ac_y").val() + " " + $("#ac_u").val() + " " + $("#ac_v").val());
}

function set_ag() {
  send_cmd("ag " + $("#ag_r").val() + " " + $("#ag_b").val());
}

function update_preview_delay() {
   var video_fps = parseInt($("#video_fps").val());
   var divider = parseInt($("#divider").val());
   preview_delay = Math.floor(divider / Math.max(video_fps,1) * 1000000);
}

</script>
{% endblock%}