{% extends "base.html" %}
{% block content %}
<div class="container overflow-auto">
    ------------ Raspiconfig ------------<br>
    {% for k,v in  raspiconfig.items() %}
    {{k}}: {{v}}</br>
    {%endfor%}
    ------------ Config ------------<br>
    {% for k,v in  (config.__dict__).items() %}
    {{k}}: {{v}}</br>
    {%endfor%}

    {% for k,v in config.items() %}
    {{k}}: {{v}}</br>
    {%endfor%}    
</div>
{% endblock%}
{% block extrascripts %}
<script language="javascript">
$(function(){
    $('#main').addClass("d-none")
});
</script>
{%endblock%}