<nav class="navbar navbar-expand fixed-bottom bg-body-tertiary">
    <div class="container-fluid">
        <ul id="footer-infos" class="navbar-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="https://github.com/cyr-ius/viewpi-cam" target="_blank">Github</a></li>
            <li class="nav-item"><a class="nav-link" href="http://www.raspberrypi.org/forums/viewtopic.php?f=43&amp;t=63276" target="_blank">Forum</a></li>
            <li class="nav-item"><a class="nav-link" href="http://elinux.org/RPi-Cam-Web-Interface" target="_blank">Wiki</a></li>
        </ul>
        <div class="ms-auto me-1 d-none d-md-flex"><span id="check-update" class="fs-6 fw-lighter"></span></div>
        <div class="ms-auto me-1">
        {% include "theme_languages.html"%}
        </div>
        {% include "theme_colors.html"%}           
    </div>
</nav>
{% block scripts%}
<script>
$(function(){
 checkVersion();
 displayFlashMessage();
});
function checkVersion() {
    if (window.location.pathname == "/") {   
        let success = function(data){
            sessionStorage.update_available = data.update_available
            if (data.update_available == 1) {
                sessionStorage.version = data.app_version
            } else {
                sessionStorage.version = "{{config.VERSION}}";
            }
            displayVersion();
        }
        $.queryData({method:"get", url:"{{url_for('api.system_version')}}", success:success});
    } else {
        displayVersion();
    }
}
function displayVersion(){
    if (sessionStorage.update_available == 1){
        $('#check-update').html(`{{_('New version detected, please restart to update to')}} ${sessionStorage.version}`)
    } else {
        $('#check-update').html("ViewPi Cam  - {{_('Release')}} {{config.VERSION}}");
    }
}
function displayFlashMessage(){
    const msgs = Array({% for category, message in get_flashed_messages(with_categories=true) %}{"category":"{{category}}","message":"{{message}}"},{% endfor%});
    msgs.forEach(function(item){ 
        $.msgToToast({category:"success", msg:item.message})
    });
}
</script>
{% endblock%}
