{% extends "base.html"%}
{% block body %}
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
  <form method="POST" action="{{url_for('main.login')}}">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="form-floating">
        <input class="form-control" name="user" type="text" placeholder="Username">
        <label>Username</label>
      </div>
      <div class="form-floating">
        <input class="form-control" name="password" type="password" placeholder="Password">
        <label>Password</label>
      </div>
      {% if init %}
      <div class="form-floating">
        <input class="form-control" name="password_2" type="password" placeholder="Password">
        <label>Password</label>
      </div>
      {%endif%}

      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
      {% if error %}{{error}}{%endif%}
  </form>          
</main>
</body>
{%endblock%}
{% block extrascripts %}
{%endblock%}