{% extends "base.html"%}
{%block header%}{%endblock%}
{% block main%}
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<main class="form-signin w-100 m-auto">
  <form id="login" class="needs-validation" method="POST" action="{{ url_for('auth.register') if register else url_for('auth.login') }}" novalidate>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
        <input class="form-control" id="username" name="username" placeholder="Username" type="text" aria-label="Username" required autofocus>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
        <input class="form-control" id="password" name="password" placeholder="Password" type="password" aria-label="Password" required>
      </div>
      {% if register %}
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
        <input class="form-control" id="password_2" name="password_2" placeholder="Password" type="password" aria-label="Password" required>
      </div>
      {%endif%}
      <input id="next" name="next" type="hidden" value="{{request.args.next}}">
      <input class="btn btn-primary w-100 py-2" id="submit" name="submit" type="submit" value="Sign in">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-danger d-flex align-items-center mt-2" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:" style="width:20px;height:20px;">
          <use xlink:href="#exclamation-triangle-fill"></use>
        </svg>
        <small>{{message}}</small>
      </div>
      {%endfor%}
  </form>          
  <p class="mt-2 text-body-secondary">&copy; 2017–2023</p>
</main>
{%endblock%}
{%block footer%}{%endblock%}
