{% extends "base.html" %}
{% block content %}
<div id="streamlog" class="container-fluid overflow-auto">
    {% for line in log %}
    <div class="row px-3">{{line.datetime}} - {{line.level|upper()}} - {{line.msg}}</div>
    {%endfor%}

</div>
{% endblock%}
{% block scripts %}
{{ super() }}
<script>
let source;
$(function(){
    $('#main').addClass("d-none")
    $('#log').removeClass("d-none")
    stream()
});

$('#downloadlog').unbind();
$('#downloadlog').click(function(){
    let success = function(data, response, xhr){
        let disposition = xhr.getResponseHeader('Content-Disposition')
        let filename = disposition.split(/;(.+)/)[1].split(/=(.+)/)[1];
        let a = document.createElement('a');
        let url = window.URL.createObjectURL(data);
        a.href = url;
        a.download = filename;
        document.body.append(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);
    }
    let data = JSON.stringify({"action": "downloadlog"})
    let xhrFields = {responseType: 'blob'}
    $.queryData({
         method: 'post', url: '{{url_for('main.log')}}', data: data, xhrFields: xhrFields, success: success
    });
});

$('#clearlog').unbind();
$('#clearlog').click(function(){
    success = function(data) {location.reload();}
    $.queryData({method:"delete", url:'{{url_for('api.logs_content')}}', success: success})
});

$(window).on('beforeunload', function(){
    source.close();
});

function stream() {
    source = new EventSource("{{ url_for('main.streamlog') }}");
    source.onmessage = function(event) {
        if (event.data) {
            let line = JSON.parse(event.data)
            $('#streamlog').prepend('<div class="row px-3">'+line.datetime+' - '+line.msg+'</div>');
        }
    }
    source.onerror = (err) => {
        console.error("EventSource failed:", err);
    };
}
</script>
{% endblock%}
