{% extends "base.html" %}
{% block content %}
<div id="streamlog" class="container-fluid overflow-auto">
    {% for line in log %}
    <div class="row px-3">{{line.datetime}} - {{line.msg}}</div>
    {%endfor%}

</div>
{% endblock%}
{% block extrascripts %}
<script>
$(function(){
    $('#main').addClass("d-none")
    $('#log').removeClass("d-none")
    stream()
});

$('#downloadlog').unbind();
$('#downloadlog').click(function(){
    $.ajax({
        url: '{{url_for('main.log')}}',
        method: 'POST',
        data: JSON.stringify({"action": "downloadlog"}),
        contentType:"application/json; charset=utf-8",
        xhrFields: {
            responseType: 'blob'
        },
        success: function (data) {
            var a = document.createElement('a');
            var url = window.URL.createObjectURL(data);
            a.href = url;
            a.download =  "viewrpicam-log";
            document.body.append(a);
            a.click();
            a.remove();
            window.URL.revokeObjectURL(url);
        }
    });
});

$('#clearlog').unbind();
$('#clearlog').click(function(){
    callbackSuccess = function(data) {location.reload();}
    $.queryData({"method":"delete","url":"{{url_for('api.logs_content')}}","callbackSuccess":callbackSuccess})
});

function stream() {
    var source = new EventSource("{{ url_for('main.streamlog') }}");
    source.onmessage = function(event) {
        if (event.data) {
            let line = JSON.parse(event.data)
            $('#streamlog').prepend('<div class="row px-3">'+line.datetime+' - '+line.msg+'</div>');
        }
    }
    source.onerror = (err) => {
        console.error("EventSource failed:", err);
    };
}
</script>
{% endblock%}
