<html>
    {% block head %}
        {% block metas %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% endblock %}
        {% block extrameta%}
        {% endblock %}
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        {% assets "css_main" -%}<link rel="stylesheet" href="{{ ASSET_URL }}">{%- endassets %}
        {% assets "css_custom" -%}<link rel="stylesheet" href="{{ ASSET_URL }}">{%- endassets %}
        {% block extracss%}
        {% endblock %}
        <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    {% endblock %}
    </head>
    <body onload="setTimeout('init(0,25,1);', 100);">
        <center>
        <div><img id="mjpeg_dest" onclick="toggleFullscreen(this);" /></div>
        </center>
    <!-- Scripts -->
    {% block scripts %}
    {% assets "js_main" -%}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{%- endassets %}
    {% assets "js_custom" -%}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{%- endassets %}
    {% endblock %}
 </body>
</html>
