{% block motion_settings %}
<div class="offcanvas offcanvas-start offcanvas-size-xl" tabindex="-1" id="motionSetting" aria-labelledby="motionSettingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="motionSettingLabel">Motion Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr/>
    <div class="offcanvas-body">
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Motion Vector Preview:</label>
            <div class="col">
                {# <select class="form-select form-select-sm" onchange="send_cmd('vp ' + this.value);setTimeout(function(){location.reload(true);}, 1000);" id="preview_select"> #}
                <select id="preview_select" class="form-select form-select-sm" onchange="$.sendCmd({'data':{'cmd':'vp','values':[this.value]}});setTimeout(function(){location.reload(true);}, 1000);">
                    <option value="0" {% if raspiconfig.vector_preview == "0" %}selected{%endif%}>Off</option>
                    <option value="1" {% if raspiconfig.vector_preview == "1" %}selected{%endif%}>On</option>
                </select>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Noise level (1-255 / >1000):</label>
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm" id="motion_noise" type="number" value="{{raspiconfig.motion_noise}}">
                    {# <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('mn ' + $('#motion_noise').val())">OK</button> #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="$.sendCmd({'data':{'cmd':'mn','values':[$('#motion_noise').val()]}});">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Threshold (1-32000):</label>
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm" id="motion_threshold" type="number" value="{{raspiconfig.motion_threshold}}">
                    {# <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('mt ' + $('#motion_threshold').val())">OK</button> #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="$.sendCmd({'data':{'cmd':'mt','values':[$('#motion_threshold').val()]}});">OK</button>

                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Clipping factor (2-50), default 3:</label>
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm" id="motion_clip" type="number" value="{{raspiconfig.motion_clip}}">
                    {# <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('mc ' + $('#motion_clip').val())">OK</button> #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="$.sendCmd({'data':{'cmd':'mc','values':[$('#motion_clip').val()]}});">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Mask Image:</label>
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm" id="motion_image" type="text" value="{{raspiconfig.motion_image}}">                
                    {# <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('mi ' + $('#motion_image').val())">OK</button> #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="$.sendCmd({'data':{'cmd':'mi','values':[$('#motion_image').val()]}});">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Delay Frames to detect:</label>
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm" id="motion_initframes" type="number" value="{{raspiconfig.motion_initframes}}">                
                    {# <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('ms ' + $('#motion_initframes').val())">OK</button> #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="$.sendCmd({'data':{'cmd':'ms','values':[$('#motion_initframes').val()]}});">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Change Frames to start:</label>
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm" id="motion_startframes" type="number" value="{{raspiconfig.motion_startframes}}">                
                    {# <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('mb ' + $('#motion_startframes').val())">OK</button> #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="$.sendCmd({'data':{'cmd':'mb','values':[$('#motion_startframes').val()]}});">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Still Frames to stop:</label>
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm" id="motion_stopframes" type="number" value="{{raspiconfig.motion_stopframes}}">                
                    {# <button class="btn btn-sm btn-outline-secondary" onclick="send_cmd('me ' + $('#motion_stopframes').val())">OK</button> #}
                    <button class="btn btn-sm btn-outline-secondary" onclick="$.sendCmd({'data':{'cmd':'me','values':[$('#motion_stopframes').val()]}});">OK</button>
                </div>
            </div>
        </div>
        <div class="row row-col-2 g-3">
            <label class="col col-form-label">Save vectors to .dat:<br>(Uses more space)</label>
            <div class="col">
                {# <select class="form-select form-select-sm" onchange="send_cmd('mf ' + this.value);"> #}
                <select class="form-select form-select-sm" onchange="$.sendCmd({'data':{'cmd':'mf','values':[this.value]}});">
                    <option value="0" {% if raspiconfig.motion_file == "0" %}selected{%endif%}>Off</option>
                    <option value="1" {% if raspiconfig.motion_file == "1" %}selected{%endif%}>On</option>
                </select>
            </div>
        </div>
    </div>
</div>
{% endblock motion_settings %}
