{% block motion_settings %}
<div class="offcanvas offcanvas-start offcanvas-size-xl" tabindex="-1" id="motionSetting" aria-labelledby="motionSettingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="motionSettingLabel">{{_('Motion Settings')}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr/>
    <div class="offcanvas-body">
        <div class="row g-3">
            <label class="col col-form-label">Motion Vector Preview:</label>
            <div class="col">
                <select id="preview_select" class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'vp','params':this.value});setTimeout(function(){location.reload(true);}, 1000);">
                    <option value="0" {{ 'selected' if raspiconfig.vector_preview == "0" }}>Off</option>
                    <option value="1" {{ 'selected' if raspiconfig.vector_preview == "1" }}>On</option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Noise level (1-255 / >1000):</label>
            <div class="col">
                <input class="form-control form-control-sm" id="motion_noise" type="number" min="1" value="{{raspiconfig.motion_noise}}" onchange="$.sendCmd({'cmd':'mn','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Threshold (1-32000):</label>
            <div class="col">
                <input class="form-control form-control-sm" id="motion_threshold" type="number" min="1" max="32000" value="{{raspiconfig.motion_threshold}}" onchange="$.sendCmd({'cmd':'mt','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Clipping factor (2-50), default 3:</label>
            <div class="col">
                <input class="form-control form-control-sm" id="motion_clip" type="number" min="2" max="50" value="{{raspiconfig.motion_clip}}" onchange="$.sendCmd({'cmd':'mnmc','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3"> 
            <label class="col col-form-label">Mask Image:</label>
            <div class="col">
                <input class="form-control form-control-sm" id="motion_image" type="file" value="{{raspiconfig.motion_image}}">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Delay Frames to detect:</label>
            <div class="col">
                <input class="form-control form-control-sm" id="motion_initframes" type="number" value="{{raspiconfig.motion_initframes}}" onchange="$.sendCmd({'cmd':'ms','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Change Frames to start:</label>
            <div class="col">
                <input class="form-control form-control-sm" id="motion_startframes" type="number" value="{{raspiconfig.motion_startframes}}" onchange="$.sendCmd({'cmd':'mb','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Still Frames to stop:</label>
            <div class="col">
                <input class="form-control form-control-sm" id="motion_stopframes" type="number" value="{{raspiconfig.motion_stopframes}}" onchange="$.sendCmd({'cmd':'me','params':$(this).val()});">
            </div>
        </div>
        <div class="row g-3">
            <label class="col col-form-label">Save vectors to .dat:<br>(Uses more space)</label>
            <div class="col">
                <select class="form-select form-select-sm" onchange="$.sendCmd({'cmd':'mf','params':this.value});">
                    <option value="0" {{ 'selected' if raspiconfig.motion_file == "0" }}>Off</option>
                    <option value="1" {{ 'selected' if raspiconfig.motion_file == "1" }}>On</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script>
$('#motion_image').on('change', function () {
    let fd = new FormData();
    let files = this.files;
    fd.append('file',files[0]);

    let success = function(response){$.sendCmd({'cmd':'mi','params':''});}
    $.queryData({
        url: '{{ url_for("main.image_mask") }}', data: fd, contentType: false, processData: false, success: success
    });
});
</script>
{% endblock motion_settings %}