{% if session.get("user_level",0) >= config['USERLEVEL_MEDIUM'] %}
{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand ps-1" href="{{ url_for('main.index') }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
      </svg>   
    </a>
    {% if session["user_level"] >= config['USERLEVEL_MAX'] %}
    <ul class="navbar-nav" id="main">
        <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" href="#cameraSetting">Camera Settings</a></li>    
        {% if g.raspiconfig.motion_external == 1%}
        <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" href="#motionExternal">Motion settings</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" href="#motionSetting">Motion Settings</a></li>    
        {% endif %}
    </ul> 
    {%endif%}
    {% if session["user_level"] >= config['USERLEVEL_MAX'] %}
    <ul class="navbar-nav d-none" id="schedule">
        <div class="container-fluid justify-content-start mt-2">
        <button id="sch_save" class="btn btn-sm btn-outline-secondary" type="button" name="action" value="save">Save Settings</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" name="action" value="backup">Backup</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" name="action" value="restore">Restore</button>
        {% if schedule_pid == 0  %}
        <button class="btn btn-sm btn-outline-secondary" type="button" name="action" value="start">Start</button>
        {% else %}
        <button class="btn btn-sm btn-outline-secondary" type="button" name="action" value="stop">Stop</button>
        {%endif%}
        </div>
    </ul>
    {%endif%}
    {% if session["user_level"] >= config['USERLEVEL_MAX'] %}
    <ul class="navbar-nav d-none" id="log">
        <li class="nav-item pe-1"><button class="btn btn-sm btn-outline-secondary" type="button" name="action" value="downloadlog">Download Log</button></li>
        <li class="nav-item pe-1"><button class="btn btn-sm btn-outline-secondary" type="button" name="action" value="clearlog">Clear Log</button></li>
    </ul>
    {%endif%}    
    {% if session["user_level"] >= config['USERLEVEL_MINP'] %}
    <ul class="navbar-nav d-none" id="gallery">
      <li class="nav-item pe-1"><button id="selectNone" class='btn btn-sm btn-outline-secondary' type='button' name='action' value='selectNone'>Deselect</button></li>
      <li class="nav-item pe-1"><button id="selectAll" class='btn btn-sm btn-outline-secondary' type='button' name='action' value='selectAll'>Select All</button></li>
      <li class="nav-item pe-1"><button id="zipSel" class='btn btn-sm btn-primary' type='button' name='action' value='zipSel'>Download Zip</button></li>
      <li class="nav-item pe-1"><button id="deleteSel" class='btn btn-sm btn-warning' type='button' name='action' value='deleteSel'>Delete Selected</button></li>
      <li class="nav-item pe-1"><button id="deleteAll" class='btn btn-sm btn-danger' type='button' name='action' value='deleteAll'>Delete All</button></li>
      <li class="nav-item pe-1"><button id="lockSel" class='btn btn-sm btn-primary' type='button' name='action' value='lockSel'>Lock</button></li>
      <li class="nav-item pe-1"><button id="unlockSel" class='btn btn-sm btn-primary' type='button' name='action' value='unlockSel'>Unlock</button></li>
    </ul>
    {%endif%}      
    {% if session["user_level"] >= config['USERLEVEL_MINP'] %}
    <ul class="navbar-nav d-none" id="display">
      <li class="nav-item pe-1"><button class="btn btn-sm btn-outline-secondary" type="button" name='prev' value='&larr;'><i class="bi bi-arrow-left"></i></button></li>
      <li class="nav-item pe-1"><button class="btn btn-sm btn-outline-secondary" type="button" name='next' value='&rarr;'><i class="bi bi-arrow-right"></i></button></li>
      <li class="nav-item pe-1"><button class='btn btn-sm btn-primary' type='button' name='download'>Download</button></li>
      <li class="nav-item pe-1"><button class='btn btn-sm btn-danger' type='button' name='delete' onclick='return confirm("Are you sure you want to delete this file?");'>Delete</button></li>
      <li class="nav-item pe-1"><button class='btn btn-sm btn-primary' type='button' name='convert'>Start Convert</button></li>
    </ul>
    {%endif%}        
    <ul class="navbar-nav ms-md-auto" id="nav-right">
        {% if session["user_level"] >= config['USERLEVEL_MINP']%}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('preview.index') }}">Gallery</a></li> 
        {% endif %}    
        {% if session["user_level"] >= config['USERLEVEL_MAX']%}        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">System</a>
          <ul class="dropdown-menu">
            {% if request.path =="/"%}
            <li><button id="toggle_stream" class="dropdown-item" onclick="set_stream_mode(this.value);" value="{{stream_button}}">{{stream_button}}</button></li>
            <li><button id="allow_simple" class="dropdown-item" onclick="set_display(this.value);" value="{{allow_simple}}">{{allow_simple}}</button></li>
            <li><hr class="dropdown-divider"></li>
            {%endif%}
            <div id="system">
            <li class="nav-item"><a class="dropdown-item" href="{{url_for('settings.index')}}">Settings</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{{ url_for('schedule.index') }}">Schedule</a></li>
            <li><hr class="dropdown-divider"></li>
            </div>
            <li class="nav-item"><a class="dropdown-item" href="#" onclick="sys_shutdown();">Shutdown system</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" onclick="sys_reboot();">Reboot system</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" onclick="if(confirm('Are you sure to reset the settings to the default values?')) {send_cmd('rs 1');setTimeout(function(){location.reload(true);}, 1000);}">Reset settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item"><a class="dropdown-item" href="{{ url_for('main.log') }}">Show Log</a></li>
          </ul>
        </li>
        {% endif %}
        {% if g.user %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Deconnexion</a></li>  
        {% endif %}        
    </ul>   
</nav>
{% endblock %}
{%endif%}
{% block extrascripts%}
<script language="javascript">
  function sys_shutdown() {
    $.get("system/shutdown")
  }

  function sys_reboot() {
    $.get("system/reboot")
  }

  function sys_settime() {
    var strDate = $("#timestr").val();
    if(strDate.indexOf("-") < 0) {
      $.get("system/settime?timestr=" + $("#timestr").val())
    }
  }
</script>
{%endblock%}