{% extends "base.html" %}
{% block content %}
<div class="container-fluid overflow-auto">
    <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="background-color:{{disk_usage[4]}};width: {{disk_usage[3]}}%"><span>local: {{disk_usage[3]}}%  Total: {{disk_usage[0]}} MB</span></div>
    </div>
    <div id="preview" class="d-none text-center" style="position:relative">
        <span id="media-title"></span>
        <div id="media"></div>
        <button id="prev" class="carousel-control-prev" type="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ _('Prev')}}</span>
        </button>
        <button id="next" class="carousel-control-next" type="button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ _('Next')}}</span>
        </button>
    </div>
    <div id="filtering" class="row m-1">
        <label class="col-auto col-form-label-sm">{{_('Ordering')}}</label>
        <div class="col-1">
            <select id="sort_order" class="form-select form-select-sm" name="sort_order">
                <option value="asc" {%  if sort_order == "asc" %}selected{%endif%}>{{ _('Ascending')}}</option>
                <option value="desc" {%  if sort_order == "desc" %}selected{%endif%}>{{ _('Descending')}}</option>
            </select>
        </div>
        <label class="col-auto col-form-label-sm">{{_('Types')}}</label>
        <div class="col-1">
            <select id="show_types" class="form-select form-select-sm" name="show_types">
                <option value="both" {%  if show_types == "both" %}selected{%endif%}>{{ _('Images &amp Videos')}}</option>
                <option value="image" {%  if show_types == "image" %}selected{%endif%}>{{ _('Images only')}}</option>
                <option value="video" {%  if show_types == "video" %}selected{%endif%}>{{ _('Videos only')}}</option>
            </select>
        </div>
        <label class="col-auto col-form-label-sm">{{ _('Filter')}}</label>
        <div class="col-1">
            <select id="time_filter" class="form-select form-select-sm" name="time_filter">
                <option value="1" {%  if time_filter|int == 1 %}selected{%endif%}>{{_('All')}}</option>
                {% for i in range(2, time_filter_max)%}
                <option value="{{i}}" {% if time_filter|int == i %}selected{%endif%}>{{(i-2) * 24}} - {{(i-1) * 24}} {{_('hours old')}}</option>
                {%endfor%}
                <option value="{{time_filter_max}}" {% if time_filter|int == time_filter_max %}selected{%endif%} >{{(time_filter_max-2) * 24}} {{_('hours old')}}</option>
            </select>
        </div>
        <div class="col-auto ms-auto"><button id="hide-preview" class="btn d-none" style="border-style: none;"><i class="bi bi-arrow-bar-up"></i></button></div>
    </div>
    <div id="thumbs" class="row g-3 m-1">
        <p>{{_('No videos/images saved')}}</p>
    </div>
</div>
{% endblock %}
{% block extrascripts %}
<script language="javascript">
let subdir_char = '{{raspiconfig.subdir_char}}';
let next, next_info, prev, prev_info;
let thumbnails = {};
let dataCarousel = [];
let linksBase = '{{url_for('preview.index')}}?preview=';
let mediaBase = "{{url_for("static", filename=config['MEDIA'])}}/";
let preview_id = '{{preview_id}}';

(function() {
	document.onkeyup = function () {
		switch (event.keyCode) {
		case 39:
		    if (next) {
		    	load_preview(next);
		    }
		    break;
		case 37:
		    if (prev) {
		    	load_preview(prev);
		    }
		    break;
		}
	};
})();

$(function(){
    $('#main').addClass("d-none")
    $('#gallery').removeClass("d-none")
    let callbackSuccess=function(data){
        load_thumbs(data);
        if (preview_id != ''){
            load_preview(preview_id);
        }
    }
    let data = {"show_types": Cookies.get('show_types') || "both" , "sort_order": Cookies.get('sort_order') || "desc", "time_filter": Cookies.get('time_filter') || 1}
    $.queryData({method:"get",url: "{{url_for('api.previews_previews')}}", data:data, callbackSuccess: callbackSuccess})
});

$('#delete').unbind()
$('#delete').click(function(){
    if (confirm('Are you sure you want to delete this file?')) {
        let id = $(this).val();
        let callbackSuccess = function(data) {
            $('#hide-preview').trigger('click');
            $(`#${id}`).remove();
        }
        $.queryData({method:"delete", url:`{{url_for('api.previews_previews')}}/${id}`, callbackSuccess:callbackSuccess})
    }
})

$('#thumbs').on('click','button[name="delete"], #delete', function() {
    if (confirm('Are you sure you want to delete this file?')) {
        let id = $(this).val();
        let callbackSuccess = function(data) {$(`#${id}`).remove();}
        $.queryData({method:"delete", url:`{{url_for('api.previews_previews')}}/${id}`, callbackSuccess:callbackSuccess})
    }
});

$('#time_filter, #show_types, #sort_order').on('change', function() {
    let data = $('#filtering input,#filtering select,#filtering textarea').serializeObject();
    let callbackSuccess=function(event){
        $.each(data,function(index,value){Cookies.set(index,value)})
        load_thumbs(event);
    }
    $.queryData({method:"get",url: "{{url_for('api.previews_previews')}}",data:data, callbackSuccess: callbackSuccess})
})

$('#hide-preview').unbind()
$('#hide-preview').click(function(){
    $('#preview, #display').addClass('d-none');
    $("#gallery").removeClass("d-none");
    $(this).addClass('d-none');
    history.pushState(null, null, "{{url_for('preview.index')}}");
});

$('#selectNone').unbind();
$('#selectNone').click(function(){
    $('#thumbs input:checkbox').prop('checked',false)
});

$('#selectAll').unbind();
$('#selectAll').click(function(){
    $('#thumbs input:checkbox').prop('checked',true)
});

$('#deleteSel').unbind();
$('#deleteSel').click(function(){
    let data = $('#thumbs input').serializeObject()
    if (typeof data.check_list === 'string' || data.check_list instanceof String)
        data.check_list = [data.check_list]
    data.check_list.forEach(function(item){
        let callbackSuccess = function(data) { $(`#${item}`).remove();}
        $.queryData({method:"delete", url:`{{url_for('api.previews_previews')}}/${item}`, callbackSuccess:callbackSuccess})
    });
});

$('#lockSel, #unlockSel').unbind();
$('#lockSel, #unlockSel').click(function(){
    let data = $('#thumbs input').serializeObject();
    let action = $(this).prop('id') == "lockSel" ?"lock" : "unlock";
    if (typeof data.check_list === 'string' || data.check_list instanceof String)
        data.check_list = [data.check_list]
    data.check_list.forEach(function(item){
        let callbackSuccess = function(data) {
            $(`#${item} input:checkbox`).prop('checked',false)
            if (action=="unlock") {
                $(`#${item} #icon_lock`).addClass('d-none');
                $(`#${item} button[name="delete"]`).prop('disabled', '');
            } else {
                $(`#${item} #icon_lock`).removeClass('d-none');
                $(`#${item} button[name="delete"]`).prop('disabled', 'disabled');
            }
        }
        $.queryData({url:`{{url_for('api.previews_previews')}}/${item}/${action}`, callbackSuccess:callbackSuccess})
    });

});

$('#deleteAll').unbind();
$('#deleteAll').click(function(){
    if (confirm('Are you sure you want to delete all files ?')) {
        $('#thumbs input:checkbox').attr('checked',true);
        $('#deleteSel').trigger('click');
    }
});

$('#zipSel').unbind();
$('#zipSel').click(function(){
    let data = $('#thumbs input').serializeObject()
    let callbackSuccess = function (data) {
        var a = document.createElement('a');
        var url = window.URL.createObjectURL(data);
        a.href = url;
        a.download =  "zipfile";
        document.body.append(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url)
    }

    $.queryData({
        url:"{{url_for('preview.zipdata')}}", data:data, callbackSuccess: callbackSuccess, xhrFields: {responseType: 'blob'}
    });

});

$('#download').unbind();
$('#download').click(function(){
    let file_name = imageFromThumbnail($(this).val());
    let callbackSuccess = function (data) {
        var a = document.createElement('a');
        var url = window.URL.createObjectURL(data);
        a.href = url;
        a.download =  file_name;
        document.body.append(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);
    }

    $.queryData({
        url:"{{url_for('preview.download')}}", data:{"filename": $(this).val()}, callbackSuccess: callbackSuccess, xhrFields: {responseType: 'blob'}
    });
});

$('#convert').unbind();
$('#convert').click(function(){
    let id = $(this).val();
    $.queryData({url:`{{url_for('api.previews_previews')}}/${id}/convert`})
});


function fileTitle(thumbnailName) {
	return thumbnailName.substr(thumbnailName.length - suffixLength(thumbnailName) + 1).substr(0, suffixLength(thumbnailName) - 8);
}

function fileType(fileName) {
	let suffix = fileName.substr(-suffixLength(fileName));
	return suffix.substr(1, 1);
}

function fileExtension(fileName) {
	return fileName.split('.').pop();
}

function suffixLength(thumbnail) {
   return thumbnail.length - thumbnail.lastIndexOf(".", thumbnail.length - 8);
}

function imageFromThumbnail(thumbnailName) {
   let temp = thumbnailName.substr(0, thumbnailName.length - suffixLength(thumbnailName));
   return temp.split(subdir_char).join("/");
}

function preloadImage(url) {
    let _img = new Image();
    _img.src = url;
}

function search_media(id) {
    for (let item of thumbnails) {
        if (item.id == id)
            return item
    }
}

function load_preview(id) {
    let info = search_media(id);
    if (typeof(info) == "undefined") {
        return;
    };
    let thumbnail = info.file_name;
    let media_content;
    history.pushState(null, null, linksBase + id);
    $("#gallery").addClass("d-none");
    $("#display, #preview, #hide-preview").removeClass("d-none");
    $('#media-title').html(fileTitle(thumbnail));
    $('#download').val(thumbnail);
    $('#delete').val(id);

	var imageIndex = dataCarousel.indexOf(id);

	// Previous
	if (imageIndex > 0) {
        prev = dataCarousel[imageIndex-1];
        $('#prev').prop('disabled', false);
        $('#prev').unbind();
        $('#prev').click(function(){load_preview(prev);});
        prev_info = search_media(prev)
        if (fileExtension(imageFromThumbnail(prev_info.file_name)) == 'jpg') {
            preloadImage(mediaBase + imageFromThumbnail(prev_info.file_name));
        }
	} else {
        prev = null;
        $('#prev').prop('disabled', true);
	}

	// Next
	if (imageIndex >= 0 && imageIndex < dataCarousel.length - 1) {
        next = dataCarousel[imageIndex+1];
        $('#next').prop('disabled', false);
        $('#next').unbind();
        $('#next').click(function(){load_preview(next);});
        next_info = search_media(next)
        if (fileExtension(imageFromThumbnail(next_info.file_name)) == 'jpg') {
            preloadImage(mediaBase + imageFromThumbnail(next_info.file_name));
        }
	} else {
        next = null;
        $('#next').prop('disabled', true);
	}

	let mediaURL = mediaBase + imageFromThumbnail(thumbnail);
	if (mediaURL) {
		if (fileExtension(mediaURL) == 'jpg') {
			media_content = `<a href="${mediaURL}" target="_blank"><img class="col-12 col-md-10 col-xl-8 col-xxl-4" src="${mediaURL}"></a>`;
		} else {
			media_content = `<video class="col-12 col-md-10 col-xl-8 col-xxl-4 video" controls><source src="${mediaURL}" type="video/mp4">Your browser does not support the video tag.</video>`;
		}
        $('#media').html(media_content);
	}

	if (fileType(thumbnail) == 't') {
        $('#convert').removeClass("d-none");
		$('#convert').val(id);
	} else {
        $('#convert').addClass("d-none");
		$('#convert').val();
	}
}

function thumbs(thumb){
    let size=""
    let lapse_count=""
    let duration=""
    let icon="bi-camera"
    let lock="d-none"
    let date = new Date(thumb.file_datetime)
    if (thumb.file_type == "v") icon="bi-camera-reels"
    if (thumb.file_type == "t") icon="bi-images"
    if (thumb.file_type == "i") icon="bi-camera"
    if (thumb.file_lock) lock=""
    if (thumb.file_size > 1024) {size=`${Math.round(thumb.file_size/1024)} MB`} else {size=`${thumb.file_size} KB`}
    if (thumb.lapse_count) lapse_count=thumb.lapse_count
    if (thumb.duration) duration=`${thumb.duration}s`
    let string=`\
    <div id="${thumb.id}" class="col-6 col-md-4 col-lg-4 col-xl-2 col-xxl-1">
        <div class="card shadow-sm">
            <a id="load_preview" title="${thumb.real_file}" href="#" onclick="load_preview('${thumb.id}');scroll_top();">
                <img class="mx-auto d-block card-img-top" loading="lazy" src="{{ url_for('static', filename=config['MEDIA']) }}/${thumb.file_name}"/>
            </a>
            <div class="card-img-overlay" style="height:5px;">
                <i class="float-start ${icon}" style="font-size: 16px;color: white;"></i>
                <i id="icon_lock" class="float-start bi bi-lock-fill ${lock}" style="font-size: 16px;color: rgb(209, 182, 28);position: absolute;right: 5px;"></i>
            </div>
            <div class="card-body">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="btn-check-${thumb.id}}" name="check_list" value="${thumb.id}">
                    <label class="form-check-label" for="${thumb.id}">${date.toLocaleDateString()} - ${date.toLocaleTimeString()}</label>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <button class="btn btn-outline-danger btn-sm" type="button" name="delete" value="${thumb.id}"><i class="bi bi-trash"></i></button>
                    <small class="text-body-secondary">${size} ${lapse_count} ${duration}</small>
                </div>
            </div>
        </div>
    </div>`;
    return string;
}

function load_thumbs(data){
    $('#thumbs').html('');
    thumbnails = data;
    dataCarousel= []
    let stringAppend="";
    data.forEach(function(item){
         dataCarousel.push(item['id']);
         stringAppend += thumbs(item);
    });
    $('#thumbs').append(stringAppend);
}

function scroll_top() {
  $('main .container-fluid')[0].scrollTop=0
}

</script>
{% endblock%}
