{% extends "base.html" %}
{% block content %}
<div class="container-fluid overflow-auto">
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="background-color:{{disk_usage[4]}};width: {{disk_usage[3]}}%"><span>local: {{disk_usage[3]}}%  Total: {{disk_usage[0]}} MB</span></div>
    </div>
    <div id="preview" class="d-none text-center">
        <span id="media-title"></span>
        <div id="media"></div>
    </div>
    <form id="form_gallery" action="{{ url_for('preview.index') }}" method="POST">
        {% if thumbnails is iterable %}        
        <div class="row g-3 my-1">
            <div class="col-auto">
                <div class="row">
                    <div class="col-3 px-1">
                        <label class="col-form-label-sm">Ordering</label>
                    </div>
                    <div class="col-auto">
                        <select id="sort_order" class="form-select form-select-sm" name="sort_order">
                            <option value="1" {%  if sort_order|int == 1 %}selected{%endif%}>Ascending</option>
                            <option value="2" {%  if sort_order|int == 2 %}selected{%endif%}>Descending</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col-2 px-1">
                        <label class="col-form-label-sm">Types</label>
                    </div>
                    <div class="col-auto">
                        <select id="show_types" class="form-select form-select-sm" name="show_types">
                            <option value="1" {%  if show_types|int == 1 %}selected{%endif%}>Images &amp Videos</option>
                            <option value="2" {%  if show_types|int == 2 %}selected{%endif%}>Images only</option>
                            <option value="3" {%  if show_types|int == 3 %}selected{%endif%}>Videos only</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col-2 px-1">
                        <label class="col-form-label-sm">Filter</label>
                    </div>
                    <div class="col-auto">
                        <select id="time_filter" class="form-select form-select-sm" name="time_filter">
                            <option value="1" {%  if time_filter|int == 1 %}selected{%endif%}>All</option>
                            {% for i in range(2, time_filter_max)%}
                            <option value="{{i}}" {% if time_filter|int == i %}selected{%endif%}>{{(i-2) * 24}} - {{(i-1) * 24}} hours old</option>
                            {%endfor%}
                            <option value="{{time_filter_max}}" {% if time_filter|int == time_filter_max %}selected{%endif%} >{{(time_filter_max-2) * 24}} hours old</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-6 row-cols-xxl-8 g-3 my-1">
            {% for thumbnail in thumbnails%}
            <div id="{{thumbnail.id}}" class="col">
                <div class='card shadow-sm'>
                    {% if thumbnail.file_size > 0 %}
                    <a id="load_preview" title="{{thumbnail.real_file}}" href="#" onclick="load_preview('{{thumbnail.id}}');">
                    {% endif%}
                    <img class="mx-auto d-block card-img-top" src="{{ url_for('static', filename=config['MEDIA']+'/'+thumbnail.file_name) }}"/>
                    {% if thumbnail.file_size > 0 %}
                    </a>
                    {%endif%}
                    <div class="card-img-overlay" style="height:5px;">
                        <i class="float-start {{thumbnail.file_icon}}" style="font-size: 16px;color: white;"></i>
                        <i id="icon_lock" class="float-start bi bi-lock-fill {% if thumbnail.file_right %}d-none{% endif %}" style="font-size: 16px;color: rgb(209, 182, 28);position: absolute;right: 5px;"></i>
                    </div>
                    <div class="card-body">                  
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="btn-check-{{loop.index}}" name="check_list" {{select_all}} value="{{thumbnail.id}}">
                            <label class="form-check-label" for="{{thumbnail.id}}">Created {{ thumbnail.file_datetime.strftime('%Y-%m-%d') }} at {{thumbnail.file_datetime.strftime('%H:%M:%S') }}</label>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <button class="btn btn-outline-danger btn-sm" type="button" name="delete" value="{{thumbnail.id}}" {% if not thumbnail.file_right %}disabled{%endif%}><i class="bi bi-trash"></i>Delete</button>
                            {% if thumbnail.file_size > 0%}
                            <small class="text-body-secondary">
                            {% if thumbnail.file_size > 1024 %}{{ (thumbnail.file_size/1024) | round(2) }} MB {%else%} {{thumbnail.file_size}} KB {%endif%}
                            {{thumbnail.lapse_count}} {{thumbnail.duration}}s
                            </small>
                            {% endif%}
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        {%else%}
        <p>No videos/images saved</p>
        {%endif%}
    </form>

</div>
{% endblock %}
{% block extrascripts %}
<script language="javascript">
let subdir_char = '{{raspiconfig.subdir_char}}';
let next, next_info, prev, prev_info;
let dict_thumbnails = {{thumbnails|tojson}};
let thumbnails = [];
$.each( dict_thumbnails, function( index, value ){ thumbnails[index]=value['id'];});
let linksBase = '{{url_for('preview.index')}}?preview=';
let mediaBase = "/static/{{config['MEDIA']}}/";
let previewWidth = {{preview_size}};
let preview_id = '{{preview_id}}';

(function() {
	document.onkeyup = function () {
		switch (event.keyCode) {
		case 39:
		    if (next) {
		    	load_preview(next);
		    }
		    break;
		case 37:
		    if (prev) {
		    	load_preview(prev);
		    }
		    break;
		}
	};
})();

$(function(){
    $('#main').addClass("d-none")
    $('#gallery').removeClass("d-none")
    if (preview_id != ''){
        load_preview(preview_id);
    }
});

$('#form_gallery button[name="delete"], #delete').unbind()
$('#form_gallery button[name="delete"], #delete').click(function(){
    if (confirm('Are you sure you want to delete this file?')) {
        let callbackSuccess = function(data) {location.reload();}
        let id = $(this).val();
        $.queryData({"method":"delete", "url":`{{url_for('api.previews_previews')}}/${id}`, "callbackSuccess":callbackSuccess})
    }
})

$('#time_filter, #show_types, #sort_order').on('change', function() {
    data = $('#form_gallery').serializeObject()
    let callbackSuccess = function(data) {location.reload();}
    $.queryData({"url":"{{url_for('preview.index')}}", "data":data, "callbackSuccess":callbackSuccess})
})

$('#selectNone').unbind();
$('#selectNone').click(function(){
    $('#form_gallery input:checkbox').prop('checked','')
});

$('#selectAll').unbind();
$('#selectAll').click(function(){
    $('#form_gallery input:checkbox').prop('checked','checked')
});

$('#deleteSel').unbind();
$('#deleteSel').click(function(){
    let data = $('#form_gallery').serializeObject();
    if (typeof data.check_list === 'string' || data.check_list instanceof String) 
        data.check_list = [data.check_list]    
    data.check_list.forEach(function(item){
        let callbackSuccess = function(data) { $(`#${item}`).remove();}
        $.queryData({"method":"delete", "url":`{{url_for('api.previews_previews')}}/${item}`, "callbackSuccess":callbackSuccess})
    });
});

$('#lockSel, #unlockSel').unbind();
$('#lockSel, #unlockSel').click(function(){
    let data = $('#form_gallery').serializeObject();
    let action = $(this).prop('id') == "lockSel" ?"lock" : "unlock";
    if (typeof data.check_list === 'string' || data.check_list instanceof String) 
        data.check_list = [data.check_list]

    data.check_list.forEach(function(item){
        let callbackSuccess = function(data) {
            $(`#${item} input:checkbox`).prop('checked','')
            if (action=="unlock") {
                $(`#${item} #icon_lock`).addClass('d-none');
                $(`#${item} button[name="delete"]`).prop('disabled', '');
            } else {
                $(`#${item} #icon_lock`).removeClass('d-none');
                $(`#${item} button[name="delete"]`).prop('disabled', 'disabled');
            }
        }        
        $.queryData({"url":`{{url_for('api.previews_previews')}}/${item}/${action}`, "callbackSuccess":callbackSuccess})
    });
    
});

$('#deleteAll').unbind();
$('#deleteAll').click(function(){
    if (confirm('Are you sure you want to delete all files ?')) {
        $('#form_gallery input:checkbox').attr('checked','checked');
        $('#deleteSel').trigger('click');
    }
});

$('#zipSel').unbind();
$('#zipSel').click(function(){
    data = $('#form_gallery').serializeObject();
    data.action = $(this).val()
    $.ajax({
        url: '{{url_for('preview.zipdata')}}',
        method: 'POST',
        contentType:"application/json; charset=utf-8",   
        data: JSON.stringify(data),
        xhrFields: {
            responseType: 'blob'
        },
        success: function (data) {
            var a = document.createElement('a');
            var url = window.URL.createObjectURL(data);
            a.href = url;
            a.download =  "zipfile";
            document.body.append(a);
            a.click();
            a.remove();
            window.URL.revokeObjectURL(url);
        }
    });

});

$('#download').unbind();
$('#download').click(function(){
    let file_name = imageFromThumbnail($(this).val());
    $.ajax({
        url: '{{url_for('preview.index')}}',
        method: 'POST',
        contentType:"application/json; charset=utf-8",   
        data: JSON.stringify({"action":"download", "filename": $(this).val()}),
        xhrFields: {
            responseType: 'blob'
        },
        success: function (data) {
            var a = document.createElement('a');
            var url = window.URL.createObjectURL(data);
            a.href = url;
            a.download =  file_name;
            document.body.append(a);
            a.click();
            a.remove();
            window.URL.revokeObjectURL(url);
        }
    });
});

$('#convert').unbind();
$('#convert').click(function(){
    let id = $(this).val();
    $.queryData({"url":`{{url_for('api.previews_previews')}}/${id}/convert`})
});


function fileTitle(thumbnailName) {
	return thumbnailName.substr(thumbnailName.length - suffixLength(thumbnailName) + 1).substr(0, suffixLength(thumbnailName) - 8);
}

function fileType(fileName) {
	let suffix = fileName.substr(-suffixLength(fileName));
	return suffix.substr(1, 1);
}

function fileExtension(fileName) {
	return fileName.split('.').pop();
}

function suffixLength(thumbnail) {
   return thumbnail.length - thumbnail.lastIndexOf(".", thumbnail.length - 8);
}

function imageFromThumbnail(thumbnailName) {
	let temp = thumbnailName.substr(0, thumbnailName.length - suffixLength(thumbnailName));
   return temp.split(subdir_char).join("/");
}

function preloadImage(url) {
    let _img = new Image();
    _img.src = url;
}

function search_media(id) {
    for (let item of dict_thumbnails) {
        if (item.id == id)
        return item
    }
}

function load_preview(id) {
    let info = search_media(id);
    let thumbnail = info.file_name;
    let media_content;
    history.pushState(null, null, linksBase + id);
    $("#gallery").addClass("d-none");
    $("#display").removeClass("d-none");
    $("#preview").removeClass("d-none");
    $('#media-title').html(fileTitle(thumbnail));
    $('#download').val(thumbnail);
    $('#delete').val(id);

	var imageIndex = thumbnails.indexOf(id);

	// Previous 
	if (imageIndex > 0) {
        prev = thumbnails[imageIndex-1];
        $('#prev').prop('disabled', false);
        $('#prev').unbind();
        $('#prev').click(function(){load_preview(prev);});	
        prev_info = search_media(prev)
        if (fileExtension(imageFromThumbnail(prev_info.file_name)) == 'jpg') {
            preloadImage(mediaBase + imageFromThumbnail(prev_info.file_name));
        }
	} else {
        prev = null;
        $('#prev').prop('disabled', true);
	}

	// Next
	if (imageIndex >= 0 && imageIndex < thumbnails.length - 1) {
        next = thumbnails[imageIndex+1];
        $('#next').prop('disabled', false);
        $('#next').unbind();
        $('#next').click(function(){load_preview(next);});
        next_info = search_media(next)
        if (fileExtension(imageFromThumbnail(next_info.file_name)) == 'jpg') {
            preloadImage(mediaBase + imageFromThumbnail(next_info.file_name));
        }
	} else {
        next = null;
        $('#next').prop('disabled', true);
	}

	let mediaURL = mediaBase + imageFromThumbnail(thumbnail);
	if (mediaURL) {
		if (fileExtension(mediaURL) == 'jpg') {
			media_content = `<a href="${mediaURL}" target="_blank"><img src="${mediaURL}" style="width:${previewWidth}px;"></a>`;
		} else {
			media_content = `<video class="video" controls><source src="${mediaURL}" type="video/mp4">Your browser does not support the video tag.</video>`;
		}
        $('#media').html(media_content);
	}

	if (fileType(thumbnail) == 't') {
        $('#convert').removeClass("d-none");
		$('#convert').val(thumbnail);
	} else {
        $('#convert').addClass("d-none");        
		$('#convert').val();
	}
}
</script>
{% endblock%}