{% extends "base.html" %}
{% block content %}
<div class="container-fluid overflow-auto">
    <div class="progress mb-2" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="background-color:{{disk_usage[4]}};width: {{disk_usage[3]}}%"><span>local: {{disk_usage[3]}}%  Total: {{disk_usage[0]}} MB</span></div>
    </div>
    <div id="preview" class="d-none text-center" style="position:relative">
        <span id="media-title"></span>
        <div id="media"></div>
        <button id="prev" class="carousel-control-prev" type="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ _('Prev')}}</span>
        </button>
        <button id="next" class="carousel-control-next" type="button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ _('Next')}}</span>
        </button>
    </div>
    <div id="filtering" class="row row-cols-sm-auto mt-1 g-1">
        <label class="col-2 col-md-1 col-form-label-sm">{{_('Ordering')}}</label>
        <div class="col-10 col-md">
            <select id="sort_order" class="form-select form-select-sm" name="sort_order">
                <option value="asc" {{ 'checked' if sort_order == "asc" }}>{{ _('Ascending')}}</option>
                <option value="desc" {{ 'checked' if sort_order == "desc" }}>{{ _('Descending')}}</option>
            </select>
        </div>
        <label class="col-2 col-md-1 col-form-label-sm">{{_('Types')}}</label>
        <div class="col-10 col-md">
            <select id="show_types" class="form-select form-select-sm" name="show_types">
                <option value="both" {{ 'checked' if show_types == "both" }} >{{ _('Images &amp Videos')}}</option>
                <option value="image" {{ 'checked' if show_types == "image" }}>{{ _('Images only')}}</option>
                <option value="video" {{ 'checked' if show_types == "video" }}>{{ _('Videos only')}}</option>
            </select>
        </div>
        <label class="col-2 col-md-1 col-form-label-sm">{{ _('Filter')}}</label>
        <div class="col-10 col-md">
            <select id="time_filter" class="form-select form-select-sm" name="time_filter">
                <option value="1" {%  if time_filter|int == 1 %}selected{%endif%}>{{_('All')}}</option>
                {% for i in range(2, time_filter_max)%}
                <option value="{{i}}" {{ 'selected' if time_filter|int == i }}>{{(i-2) * 24}} - {{(i-1) * 24}} {{_('hours old')}}</option>
                {%endfor%}
                <option value="{{time_filter_max}}" {{ 'selected' if time_filter|int == time_filter_max }}>{{(time_filter_max-2) * 24}} {{_('hours old')}}</option>
            </select>
        </div>
        <div class="col-auto ms-auto"><button id="hide-preview" class="btn d-none" style="border-style: none;"><i class="bi bi-arrow-bar-up"></i></button></div>
    </div>
    <div id="thumbs" class="row g-3 m-1">
        {% if thumbs %}
            {% include "thumb.html" %}
        {% else %}
            <p>{{_('No videos/images saved')}}</p>
        {%endif%}
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
let subdir_char = '{{raspiconfig.subdir_char}}';
let next, next_info, prev, prev_info;
let thumbnails = [];
let dataCarousel = [];
let linksBase = '{{url_for("preview.index", preview='')}}';
let mediaBase = '{{url_for("static", filename=config["MEDIA_FOLDER"])}}/';
let preview_id = '{{preview_id}}';

$(function(){
    $('#main').addClass("d-none")
    $('#gallery').removeClass("d-none")

	document.onkeyup = function () {
		switch (event.keyCode) {
            case 39:
                if (next) {
                    loadPreview(next);
                }
                break;
            case 37:
                if (prev) {
                    loadPreview(prev);
                }
                break;
		}
	};
    updateList()
    loadPreview(preview_id);
});

$('#time_filter, #show_types, #sort_order').on('change', function() {
    let data = $('#filtering input,#filtering select,#filtering textarea').serializeObject();
    $.each(data,function(index,value){
        Cookies.set(index,value, { sameSite: 'strict' })
    });
    location.reload();
})

$('#delete').on('click', function(){
    if (confirm('Are you sure you want to delete this file?')) {
        let id = $(this).val();
        let success = function(data) {
            $('#hide-preview').trigger('click');
            $(`#${id}`).remove();
            freeDisk();
            updateList();
        }
    
        $.queryData({method:"delete", url:"{{url_for('api.previews_thumb', id=0)}}".replace(0,id), success:success})
    }
})

$('#hide-preview').on('click', function(){
    $('#preview, #display').addClass('d-none');
    $("#gallery").removeClass("d-none");
    $(this).addClass('d-none');
    history.pushState(null, null, "{{url_for('preview.index')}}");
});

$('#selectNone').on('click', function(){
    $('#thumbs input:checkbox').prop('checked',false)
});

$('#selectAll').on('click', function(){
    $('#thumbs input:checkbox').prop('checked',true)
});

$('#deleteSel').on('click', function(){
    let data_html = $('#thumbs input:checked').parents(".card").parent();
    let data = $('#thumbs input').serializeObject()
    if (typeof data.thumb_id === 'string' || data.thumb_id instanceof String)
        data.thumb_id = [data.thumb_id]
    
    let success = function(data) { 
        data_html.remove()
        freeDisk();
        updateList();
    };

    $.queryData({method:"delete", url:'{{url_for("api.previews_thumbs")}}', data:data, success:success})
});

$('#lockSel, #unlockSel').on('click', function(){
    let data_html = $('#thumbs input:checked').parents(".card").parent();
    let mode = $(this).prop('id') == "lockSel";
    let data = $('#thumbs input').serializeObject();
    if (typeof data.thumb_id === 'string' || data.thumb_id instanceof String)
        data.thumb_id = [data.thumb_id]

    let success = function(data) {
        data_html.find('input:checkbox').prop('checked', false);
        if (mode) {
            data_html.find('.lock').addClass('active');
            data_html.find('.lock').children().removeClass('bi-unlock').addClass('bi-lock')
            data_html.find('.delete').prop('disabled', 'disabled');
        } else {
            data_html.find('.lock').removeClass('active');
            data_html.find('.lock').children().removeClass('bi-lock').addClass('bi-unlock')
            data_html.find('.delete').prop('disabled', '');
        }
    };

    $.queryData({url:'{{url_for("api.previews_lock_mode")}}', data:{"mode":mode, "ids":data.thumb_id}, success:success})

});

$('#deleteAll').on('click', function(){
    if (confirm('Are you sure you want to delete all files ?')) {
        $('#thumbs input:checkbox').attr('checked',true);
        $('#deleteSel').trigger('click');
    }
});

$('#zipSel').on('click', function(){
    let success = function(data, response, xhr){
        let disposition = xhr.getResponseHeader('Content-Disposition')
        let filename = disposition.split(/;(.+)/)[1].split(/=(.+)/)[1];
        let a = document.createElement('a');
        let url = window.URL.createObjectURL(data);
        a.href = url;
        a.download = filename;
        document.body.append(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);
    }
    let data = $('#thumbs input').serializeObject()
    let xhrFields = {responseType: 'blob'}
    $.queryData({
        url:"{{url_for('preview.zipdata')}}", data:data, xhrFields: xhrFields, success: success
    });
});

$('#download').on('click', function(){
    let file_name = imageFromThumbnail($(this).val());
    let success = function (data) {
        var a = document.createElement('a');
        var url = window.URL.createObjectURL(data);
        a.href = url;
        a.download =  file_name;
        document.body.append(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);
    }

    $.queryData({
        url:"{{url_for('preview.download')}}", data:{"filename": $(this).val()}, success: success, xhrFields: {responseType: 'blob'}
    });
});

$('#convert').on('click', function(){
    let id = $(this).val();
    $.queryData({url: "{{url_for('api.previews_convert',id=0)}}".replace(0,id)})
});

$('#thumbs').on('click','.delete', function() {
    if (confirm('Are you sure you want to delete this file?')) {
        let id = $(this).val();
        let success = function(data) {
            $(`#${id}`).remove();
            freeDisk();
            updateList();
        }

        $.queryData({method:"delete", url:"{{url_for('api.previews_thumb', id=0)}}".replace(0,id), success:success})
    }
});

$('#thumbs').on('click','.lock', function() {
    let curObj =  $(this);
    let state = curObj.hasClass('active');
    let id = curObj.parents(".card").parent().prop("id");
    let lock_url = '{{url_for("api.previews_lock", id=0)}}'
    let unlock_url = '{{url_for("api.previews_unlock", id=0)}}'
    let url = state ? unlock_url : lock_url;

    let success = function(data){
        if (state) {
            curObj.children().removeClass('bi-lock').addClass('bi-unlock')
            curObj.siblings().prop('disabled', '')
            curObj.removeClass("active")
        } else {
            curObj.children().addClass('bi-lock').removeClass('bi-unlock')
            curObj.siblings().prop('disabled', 'disabled')
            curObj.addClass("active")
        }
    }
    $.queryData({url:url.replace(0,id), success:success})
});

function fileTitle(thumbnailName) {
	return thumbnailName.substr(thumbnailName.length - suffixLength(thumbnailName) + 1).substr(0, suffixLength(thumbnailName) - 8);
}

function fileType(fileName) {
	let suffix = fileName.substr(-suffixLength(fileName));
	return suffix.substr(1, 1);
}

function fileExtension(fileName) {
	return fileName.split('.').pop();
}

function suffixLength(thumbnail) {
   return thumbnail.length - thumbnail.lastIndexOf(".", thumbnail.length - 8);
}

function imageFromThumbnail(thumbnailName) {
   let temp = thumbnailName.substr(0, thumbnailName.length - suffixLength(thumbnailName));
   return temp.split(subdir_char).join("/");
}

function preloadImage(url) {
    let _img = new Image();
    _img.src = url;
}

function searchMedia(id) {
    for (let item of thumbnails) {
        if (item.id == id)
            return item
    }
}

function loadPreview(id) {
    let info = searchMedia(id);
    if (typeof(info) == "undefined") {
        return;
    };
    let thumbnail = info.name;
    let media_content;
    history.pushState(null, null, linksBase + id);
    $("#gallery").addClass("d-none");
    $("#display, #preview, #hide-preview").removeClass("d-none");
    $('#media-title').html(fileTitle(thumbnail));
    $('#download').val(thumbnail);
    $('#delete').val(id);

	var imageIndex = dataCarousel.indexOf(id);

	// Previous
	if (imageIndex > 0) {
        prev = dataCarousel[imageIndex-1];
        $('#prev').prop('disabled', false);
        $('#prev').unbind();
        $('#prev').click(function(){loadPreview(prev);});
        prev_info = searchMedia(prev)
        if (fileExtension(imageFromThumbnail(prev_info.name)) == 'jpg') {
            preloadImage(mediaBase + imageFromThumbnail(prev_info.name));
        }
	} else {
        prev = null;
        $('#prev').prop('disabled', true);
	}

	// Next
	if (imageIndex >= 0 && imageIndex < dataCarousel.length - 1) {
        next = dataCarousel[imageIndex+1];
        $('#next').prop('disabled', false);
        $('#next').unbind();
        $('#next').click(function(){loadPreview(next);});
        next_info = searchMedia(next)
        if (fileExtension(imageFromThumbnail(next_info.name)) == 'jpg') {
            preloadImage(mediaBase + imageFromThumbnail(next_info.name));
        }
	} else {
        next = null;
        $('#next').prop('disabled', true);
	}

	let mediaURL = mediaBase + imageFromThumbnail(thumbnail);
	if (mediaURL) {
		if (fileExtension(mediaURL) == 'jpg') {
			media_content = `<a href="${mediaURL}" target="_blank"><img class="col-12 col-md-10 col-xl-8 col-xxl-4" src="${mediaURL}"></a>`;
		} else {
			media_content = `<video class="col-12 col-md-10 col-xl-8 col-xxl-4 video" controls><source src="${mediaURL}" type="video/mp4">Your browser does not support the video tag.</video>`;
		}
        $('#media').html(media_content);
	}

	if (fileType(thumbnail) == 't') {
        $('#convert').removeClass("d-none");
		$('#convert').val(id);
	} else {
        $('#convert').addClass("d-none");
		$('#convert').val();
	}
}

function scrollTop() {
  $('main .container-fluid')[0].scrollTop=0
}

function freeDisk(){
    let success = function(data) { 
        $(".progress-bar").css("width",data.prc+"%").css("background-color",data.color)
        $(".progress-bar span").html(`Percent: ${data.prc}%  Total: ${data.total} MB`)
    }
    $.queryData({method:"get", url:`{{url_for('api.system_freespace')}}`, success:success})
}

function updateList(){
    dataCarousel = []
    thumbnails = []
    $("#thumbs").children().each(
        function(index, value){
            id = $(this).attr('id')
            dataCarousel.push(id)
            thumbnails.push({"id":id,"name":$(this).attr("data-bs-name")})
        }
    );
}
</script>
{% endblock%}