{% extends "base.html" %}
{% block content %}
<div class="container-fluid overflow-auto px-5 py-2">
    <div class="row">
        <div class="row"><h4 class="p-0">{{_('Settings')}}</h4>
        </div>
        <hr class="p-0 ">
        <div class="row">{{_('Users buttons')}}</div>
        <div id="ubuttons" class="row">
            {%for ubutton in ubuttons%}
            <div id="ubuttons-{{ubutton.id}}" class="row g-1 ms-2 uchange">
                <input type="hidden" name="id" value="{{ubutton.id}}">
                <div class="col-2 col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="display" type="checkbox" {% if ubutton.display == 1 %}checked{%endif%}>
                    </div>
                </div>
                <div class="col-10 col-sm"><input class="form-control form-control-sm" name="name" placeholder="{{_('Name')}}" required="" type="text" value="{{ubutton.name}}"></div>
                <div class="col-6 col-sm"><input class="form-control form-control-sm" name="macro" placeholder="Macro" required="" type="text" value="{{ubutton.macro}}"></div>
                <div class="col-6 col-sm"><input class="form-control form-control-sm" name="css_class" placeholder="class" type="text" value="{{ubutton.css_class}}"></div>
                <div class="col-12 col-sm"><input class="form-control form-control-sm" name="style" placeholder="Style" type="text" value="{{ubutton.style}}"></div>
                <div class="col-10 col-sm"><input class="form-control form-control-sm" name="other" placeholder="{{_('Other')}}" type="text" value="{{ubutton.other}}"></div>
                <div class="col-2 col-auto"><button class="btn btn-sm btn-danger del_button" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
            {% endfor%}
            <div id="ubuttons-ref" class="row g-1 ms-2 needs-validation">
                <input type="hidden" name="id">
                <div class="col-2 col-auto"><div class="form-check form-switch"><input class="form-check-input" name="display" type="checkbox"></div></div>
                <div class="col-10 col-sm"><input class="form-control form-control-sm" name="name" placeholder="{{_('Name')}}" required="" type="text" required></div>
                <div class="col-6 col-sm"><input class="form-control form-control-sm" name="macro" placeholder="Macro" required="" type="text" required></div>
                <div class="col-6 col-sm"><input class="form-control form-control-sm" name="css_class" placeholder="class" type="text"></div>
                <div class="col-12 col-sm"><input class="form-control form-control-sm" name="style" placeholder="Style" type="text"></div>
                <div class="col-10 col-sm"><input class="form-control form-control-sm" name="other" placeholder="{{_('Other')}}" type="text"></div>
                <div class="col-2 col-auto"><button class="btn btn-sm btn-success add_button" type="button"><i class="bi bi-plus-square-fill"></i></button></div>
                <div class="col-2 col-auto d-none"><button class="btn btn-sm btn-danger del_button" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">{{_('Users')}}</div>
        <div id="users" class="row">
            {%for user in users%}
            {% if user.otp_confirmed %}{% set otpclass="danger"%}{%else%}{% set otpclass="success"%}{%endif%}
            <div id="users-{{user.id}}" class="row g-1 ms-2 uchange">
                <input type="hidden" name="id" value="{{user.id}}">
                <div class="col-auto"><button class="btn btn-sm btn-outline-{{otpclass}} otp_user" type="button"><i class="bi bi-shield-lock"></i></button></div>
                <div class="col-10 col-sm"><input class="form-control form-control-sm" name="name" placeholder="{{_('Username')}}" type="text" value="{{user.name}}" required></div>
                <div class="col-6 col-sm"><input class="form-control form-control-sm" name="password" onfocusout="$(this).trigger('submit');" placeholder="{{_('Password')}}" type="password"></div>
                <div class="col-4 col-sm">
                    <select class="form-select form-select-sm" name="right" required>
                        {% for key,value in config.USERLEVEL.items() %}
                        <option value="{{value}}" {{ 'selected' if user.right == value }} >{{key| capitalize}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="col-auto" id="btn_del_button"><button class="btn btn-sm btn-danger del_button" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
            {%endfor%}
            <div id="users-ref" class="row g-1 ms-2 needs-validation">
                <input type="hidden" name="id">
                <div class="col-auto"><button class="btn btn-sm btn-outline-success otp_user" type="button" disabled><i class="bi bi-shield-lock"></i></button></div>
                <div class="col-10 col-sm"><input class="form-control form-control-sm" name="name" placeholder="{{_('Username')}}" type="text" required></div>
                <div class="col-6 col-sm"><input class="form-control form-control-sm" name="password" onfocusout="$(this).trigger('submit');" placeholder="{{_('Password')}}" type="password" required></div>
                <div class="col-4 col-sm">
                    <select class="form-select form-select-sm" name="right" onchange="$(this).trigger('submit');" required>
                        {% for key,value in config.USERLEVEL.items() %}
                        <option value="{{value}}">{{key| capitalize}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="col-auto"><button class="btn btn-sm btn-success add_button" type="button"><i class="bi bi-plus-square-fill"></i></button></div>
                <div class="col-auto d-none"><button class="btn btn-sm btn-danger del_button" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">
            {{_('Token camera')}}<p class="text-body-secondary">{{_('The generation of the token allows it to be passed as a parameter of the pages to avoid authentication.')}}</p>
        </div>
        <div class="row">
            <div class="row g-1 ms-2">
                <div class="col">
                    <div class="input-group">
                        <input class="form-control form-control-sm" id="cam_token" type="text" value="{{camera_token}}" disabled>
                        <button class="btn btn-sm btn-outline-secondary" id="btn_token" type="button" title="add to clipboard"><i class="bi bi-clipboard"></i></button>
                        <button class="btn btn-sm btn-outline-secondary" id="get_token" type="button">{{_('Generate')}}</button>
                        <button class="btn btn-sm btn-outline-secondary" id="del_token" type="button">{{_('Reset')}}</button>
                    </div>
                    <a id="cam_pic_new" href="{{ url_for("camera.cam_pic_new", cam_token=camera_token) }}" target="_blank">{{_('Stream view')}}</a>
                    <a id="cam_pic" href="{{ url_for("camera.cam_pic", cam_token=camera_token) }}" target="_blank">{{_('Last Picture')}}</a>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">
            API Token<p class="text-body-secondary">{{_('The generation of the token allows it to be passed as a parameter of the pages to avoid authentication.')}}</p>
        </div>
        <div class="row">
            <div class="row g-1 ms-2">
                <div class="col">
                    <div class="input-group">
                        <input class="form-control form-control-sm" id="apitoken" name="apitoken" type="text" value="{{api_token}}" disabled>
                        <button class="btn btn-sm btn-outline-secondary" id="btn_api_token" type="button" title="add to clipboard"><i class="bi bi-clipboard"></i></button>
                        <button class="btn btn-sm btn-outline-secondary" id="get_api_token" type="button">{{_('Generate')}}</button>
                        <button class="btn btn-sm btn-outline-secondary" id="del_api_token" type="button">{{_('Reset')}}</button>
                    </div>
                    <a href="{{ url_for('api.doc') }}" target="_blank">API Swagger</a>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">{{_('Options')}}</div>
        <div class="row">
            <div class="row g-1 ms-2">
                <div class="col"><label class="form-check-label" for="servo">Servo blaster</label></div>
                <div class="col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="servo" name="servo" type="checkbox" {{ 'checked' if settings.servo == 1 }}>
                    </div>
                </div>
            </div>
            <div class="row g-1 ms-2">
                <div class="col"><label class="form-check-label" for="pipan">Pi Pan</label></div>
                <div class="col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="pipan" name="pipan" type="checkbox" {{ 'checked' if settings.pipan == 1 }}>
                    </div>
                </div>
            </div>
            <div class="row g-1 ms-2">
                <div class="col"><label class="form-check-label" for="pilight">Pi Light</label></div>
                <div class="col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="pilight" name="pilight" type="checkbox" {{ 'checked' if settings.pilight == 1 }}>
                    </div>
                </div>
            </div>
            <div class="row g-1 ms-2">
                <div class="col"><label class="form-label" for="upreset">UPreset</label></div>
                <div class="col-auto ">
                    <select class="form-select form-select-sm" id="upreset" name="upreset">
                        {% for preset in presets %}
                        <option value="{{preset}}" {{ 'selected' if settings.upreset == preset }}>{{preset}}</option>
                        {% endfor%}
                    </select>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">{{_('Macros')}}</div>
        <div id="macros" class="row">
            {%for macro in macros%}
            <div class="row g-1 ms-2 uchange">
                <input type="hidden" name="name" value="{{macro.name|lower}}">
                <div class="col-auto"><div class="form-check form-switch"><input class="form-check-input" name="state" value="{{macro.state}}" type="checkbox" {{'checked' if macro.state }}></div></div>
                <div class="col">{{macro.name|replace("_", " ")}}</div>
                <div class="col-6"><input class="form-control form-control-sm" type="text" name="command" value="{{macro.command}}"></div>
                <div class="col-auto"><button class="btn btn-sm btn-outline-secondary" type="button" onclick="$.sendCmd({'cmd':'sy','params': '{{macro.command}}'});">{{_('Execute')}}</button></div>
            </div>
            {%endfor%}
        </div>
        <hr class="mt-3">
        <div class="row">{{_('Multiview')}}<small>{{ _('Add multiple camera display on same page')}} <a href="{{url_for('main.multiview')}}" target="_blank">{{_('View')}}</a></small></div>
        <div id="multiviews" class="row">
            {%for multiview in multiviews%}
            <div id="multiviews-{{multiview.uid}}" class="row g-1 ms-2 uchange">
                <input type="hidden" name="id" value="{{multiview.id}}">
                <div class="col-auto"><div class="form-check form-switch"><input class="form-check-input" name="state" type="checkbox" {{ 'checked' if multiview.state }}></div></div>
                <div class="col"><input class="form-control form-control-sm" name="url" type="url" value="{{multiview.url}}" required></div>
                <div class="col"><input class="form-control form-control-sm" name="delay" type="number" value="{{multiview.delay}}" required></div>
                <div class="col-auto"><button class="btn btn-sm btn-danger del_button" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
            {% endfor%}
            <div id="multiviews-ref" class="row g-1 ms-2 needs-validation">
                <input type="hidden" name="id">
                <div class="col-auto"><div class="form-check form-switch"><input class="form-check-input" name="state" type="checkbox"></div></div>
                <div class="col"><input class="form-control form-control-sm" name="url" placeholder="http://192.168.1.1/cam/cam_pic?token=Bxxxxxxxxxxxxx" type="url" required></div>
                <div class="col"><input class="form-control form-control-sm" name="delay" placeholder="delay" type="number" required></div>
                <div class="col-auto"><button class="btn btn-sm btn-success add_button" type="button"><i class="bi bi-plus-square-fill"></i></button></div>
                <div class="col-auto d-none"><button class="btn btn-sm btn-danger del_button" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">{{_('RSync')}}</div>
        <div class="row">
            <div id="rsync" class="row g-1 ms-2 needs-validation">
                <div class="col-auto"><div class="form-check form-switch"><input class="form-check-input uchange" name="rs_enabled" type="checkbox" {{'checked' if rsync.rs_enabled}}></div></div>
                <div class="col"><input class="form-control form-control-sm" name="rs_user" type="text" placeholder="{{_('User')}}" value="{{rsync.rs_user}}" required></div>
                <div class="col"><input class="form-control form-control-sm" name="rs_pwd" type="password" placeholder="{{_('Password')}}" value="{{rsync.rs_pwd}}" required></div>
                <div class="col"><input class="form-control form-control-sm" name="rs_direction" type="text" placeholder="{{_('Remote Folder or Module')}}" value="{{rsync.rs_direction}}" required></div>
                <div class="col">
                    <select class="form-select form-select-sm" name="rs_mode" required>
                        <option value="Module" {{ 'selected' if rsync.rs_mode == "Module" }}>Module</option>
                        <option value="SSH" {{ 'selected' if rsync.rs_mode == "SSH" }}>SSH</option>
                    </select>
                </div>
                <div class="col"><input class="form-control form-control-sm" name="rs_remote_host" type="text" placeholder="{{_('Remote Host')}}" value="{{rsync.rs_remote_host}}" required></div>
                <div class="col">
                    <select class="form-control form-control-sm selectpicker" name="rs_options" multiple data-multi-select data-style="" data-style-base="form-control">
                        <option value="-t" {{ 'selected' if "-t" in rsync.rs_options }}>Times</option>
                        <option value="-b" {{ 'selected' if "-b" in rsync.rs_options }}>Backup</option>
                        <option value="-z" {{ 'selected' if "-z" in rsync.rs_options }}>Compress</option>
                        <option value="-a" {{ 'selected' if "-a" in rsync.rs_options }}>Archive</option>
                        <option value="--delete" {{ 'selected' if "--delete" in rsync.rs_options }}>Delete</option>
                        <option value="-q" {{ 'selected' if "-q" in rsync.rs_options }}>Quiet</option>
                        <option value="-p" {{ 'selected' if "-p" in rsync.rs_options }}>Preserve Permissions</option>
                        <option value="--delay-updates" {{ 'selected' if "--delay-updates" in rsync.rs_options }}> Delay Updates</option>
                    </select>
                </div>                
                <div class="col-auto"><button class="btn btn-sm btn-outline-light rsync_reset" type="button" title="Reset settings"><i class="bi bi-arrow-repeat"></i></button></div>         
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">{{_('Debug')}}</div>
        <div class="row g-1 ms-2">
            <div class="col"><label class="form-check-label" for="loglevel">{{_('Verbose level')}}</label></div>
            <div class="col-auto ">
                <select class="form-select form-select-sm" id="loglevel" name="loglevel">
                    {% for item in ["INFO","WARNING","ERROR","DEBUG"]%}
                    <option {% if settings.loglevel == item %}selected{%endif%} value="{{item}}">{{item}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
    </div>
</div>
{% include "modal_qr.html"%}
{% include "modal_upload.html"%}
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
$(function(){
    $('#main').addClass("d-none");
    $('#settings').removeClass("d-none");
    $('#form_upload').attr('action','{{url_for("settings.restore")}}');
});

$('#upreset, #pilight, #pipan, #servo, #loglevel').unbind()
$('#upreset, #pilight, #pipan, #servo, #loglevel').on("change", function(event) {
    let data = $(this).serializeObject({"checkboxesAsBools":true});
    $.queryData({url:"{{url_for('api.settings_sets')}}",data:data});
})

$('#btn_token, #btn_api_token').unbind();
$('#btn_token, #btn_api_token').click(function () {
    let that = $(this)
    copyToClipboard('#'+$(this).siblings('input').prop("id"));
    $(this).tooltip('show');    
    setTimeout(function(){that.tooltip('hide');that.tooltip('dispose')}, 300);    
});

$('#get_token').unbind();
$('#get_token').click(function () {
    let success = function(data){
        let cam_token = data["cam_token"];
        $('#cam_token').val(cam_token);
        $('#cam_pic_new').attr("href",`{{ url_for("camera.cam_pic_new", cam_token=None) }}?cam_token=${cam_token}`)
        $('#cam_pic').attr("href",`{{ url_for("camera.cam_pic", cam_token=None) }}?cam_token=${cam_token}`)
        $('#cam_pic_new, #cam_pic').removeClass("d-none");
    }
    $.queryData({url:"{{url_for('api.users_token')}}",success:success});
});

$('#del_token').unbind();
$('#del_token').click(function () {
    let success = function(data){
        $('#cam_token').val('')
        $('#cam_pic_new, #cam_pic').addClass("d-none");
    }
    $.queryData({method:"delete", url:"{{ url_for('api.users_token')}}",success:success});
});

$('#get_api_token').unbind();
$('#get_api_token').click(function () {
    let success = function(data){$('#apitoken').val(data["api_token"])}
    $.queryData({url:"{{url_for('api.users_api_token')}}",success:success});
});

$('#del_api_token').unbind();
$('#del_api_token').click(function () {
    let success = function(data){$('#apitoken').val('')}
    $.queryData({method:"delete", url:"{{ url_for('api.users_api_token')}}",success:success});
});

$('#backup').on('click',function(){
    let success = function(data, response, xhr){
        let disposition = xhr.getResponseHeader('Content-Disposition')
        let filename = disposition.split(/;(.+)/)[1].split(/=(.+)/)[1];
        let a = document.createElement('a');
        let url = window.URL.createObjectURL(data);
        a.href = url;
        a.download = filename;
        document.body.append(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);
    }
    $.queryData({
         method: 'get', url: '{{url_for('settings.backup')}}', xhrFields: {responseType: 'blob'}, success: success
    });
})

$('#users').on('click','.add_button', function() {
    let parent = $(this).parent().parent();
    let data = $(parent).find('input, select').serializeObject();
    let templ = $('#users-ref').clone();
    let success = function(data){
        templ.find('.add_button').parent().addClass('d-none');
        templ.find('.del_button').parent().removeClass('d-none');
        templ.find('.otp_user').prop('disabled',false);
        templ.attr('id','users-'+data["id"]);
        templ.addClass('uchange').removeClass('needs-validation was-validated');
        templ.find('input[name="id"]').val(data["id"]);
        templ.insertBefore(parent);
        parent.find('input').val('');
        parent.removeClass('was-validated')
    }
    let divsubmit = new Event('submit-line', {bubbles: true, cancelable: true})
    if (this.dispatchEvent(divsubmit))
        $.queryData({url:"{{url_for('api.users_users')}}",data:data, success:success});
});

$('#users').on('click','.del_button', function() {
    let parent = $(this).parent().parent()
    let data = $(parent).find('input, select').serializeObject();
    let success = function(data){ parent.remove() }
    $.queryData({method:"delete", url:`{{ url_for('api.users_users')}}/${data["id"]}`, success:success});
});

$('#users').on('click','.otp_user', function() {
    let parent = $(this).parent().parent();
    let data = $(parent).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
    $('#otpmodal').attr("data-viewpicam-modal-id", data["id"])
    otpModal.show();
});

$('#users').on('change','.uchange', function(){
    let data = $(this).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
    $.queryData({method:"put", url:`{{url_for('api.users_users')}}/${data["id"]}`, data:data});
});

$('#ubuttons').on('click','.add_button', function() {
    let parent = $(this).parent().parent();
    let data = $(parent).find('input').serializeObject({"checkboxesAsBools":true});
    let templ = $('#ubuttons-ref').clone();
    let success = function(data){
        templ.find('.add_button').parent().addClass('d-none');
        templ.find('.del_button').parent().removeClass('d-none');
        templ.attr('id','ubuttons-'+data["id"]);
        templ.addClass('uchange').removeClass('needs-validation was-validated');
        templ.find('input[name="id"]').val(data["id"]);
        templ.insertBefore(parent);
        parent.find('input, select, textarea').val('');
        parent.removeClass('was-validated')
    }
    let divsubmit = new Event('submit-line', {bubbles: true, cancelable: true})
    if (this.dispatchEvent(divsubmit))
        $.queryData({url:"{{url_for('api.settings_buttons')}}",data:data, success:success});

});

$('#ubuttons').on('click','.del_button', function() {
    let parent = $(this).parent().parent();
    let data = $(parent).find('input').serializeObject({"checkboxesAsBools":true});
    let success = function(data){ parent.remove() }
    $.queryData({method:"delete", url:`{{ url_for('api.settings_buttons')}}/${data["id"]}`, success:success});
});

$('#ubuttons').on('change','.uchange', function(){
    let data = $(this).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
    $.queryData({method:"put", url:`{{url_for('api.settings_buttons')}}/${data["id"]}`, data:data});
});

$('#multiviews').on('click','.add_button', function() {
    let parent = $(this).parent().parent();
    let data = $(parent).find('input,select,textarea').serializeObject({"checkboxesAsBools":true});
    let templ = $('#multiviews-ref').clone();
    let success = function(data){
        templ.find('.add_button').parent().addClass('d-none');
        templ.find('.del_button').parent().removeClass('d-none');
        templ.attr('id','multiviews-'+data["id"]);
        templ.addClass('uchange').removeClass('needs-validation was-validated');
        templ.find('input[name="id"]').val(data["id"]);
        templ.insertBefore(parent);
        parent.find('input, select, textarea').val('');
        parent.removeClass('was-validated')
    }
    let divsubmit = new Event('submit-line', {bubbles: true, cancelable: true})
    if (this.dispatchEvent(divsubmit))
        $.queryData({url:"{{url_for('api.multiview_multiviews')}}",data:data, success:success});
});

$('#multiviews').on('click','.del_button', function() {
    let parent = $(this).parent().parent();
    let data = $(parent).find('input,select,textarea').serializeObject({"checkboxesAsBools":true});
    let success = function(data){ parent.remove() }
    $.queryData({method:"delete", url:`{{url_for('api.multiview_multiviews')}}/${data["id"]}`, success:success});
});

$('#multiviews').on('change','.uchange', function(){
    let data = $(this).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
    $.queryData({method:"put", url:`{{url_for('api.multiview_multiviews')}}/${data["id"]}`, data:data});
});

$('#rsync').on('change', function(){
    let data = $(this).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
    let success = function(data){
        $('#rsync').removeClass('needs-validation was-validated');
    }
    let divsubmit = new Event('submit-line', {bubbles: true, cancelable: true})
    if (this.dispatchEvent(divsubmit))
        $.queryData({url:"{{url_for('api.rsync_rsync')}}",data:data, success:success});
});

$('#rsync').on('click','.rsync_reset', function(){
    let parent = $(this).parent().parent().parent();
    let success = function(data){
        $(parent).clearFields();
    }
    let data = $(parent).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
    $.queryData({method: "delete", url:"{{url_for('api.rsync_rsync')}}", data:data, success:success});
});

$('#macros').on('change','.uchange', function(){
    let data = $(this).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
    $.queryData({url:"{{url_for('api.settings_macros')}}", data:data});
});

function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).val()).select();
    document.execCommand("copy");
    $temp.remove();
}
</script>
{%endblock%}
