{% extends "base.html" %}
{% block content %}
<div class="container-fluid overflow-auto px-5 py-2">
    <div class="row">
        <div class="row"><h4 class="p-0">Settings</h3>
        </div>
        <hr class="p-0 ">
        <div class="row">Users buttons</div>
        <div id="ubuttons" class="row">
            {%for ubutton in settings.ubuttons%}
            <div id="ubuttons-{{ubutton.id}}" class="row g-1 ms-2 uchange">
                <input type="hidden" name="id" value="{{ubutton.id}}">
                <div class="col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="display" type="checkbox" {% if ubutton.display == 1 %}checked{%endif%}>
                    </div>
                </div>
                <div class="col"><input class="form-control form-control-sm" name="name" placeholder="Name" required="" type="text" value="{{ubutton.name}}" readonly></div>
                <div class="col"><input class="form-control form-control-sm" name="macro" placeholder="Macro" required="" type="text" value="{{ubutton.macro}}"></div>
                <div class="col"><input class="form-control form-control-sm" name="css_class" placeholder="class" type="text" value="{{ubutton.css_class}}"></div>
                <div class="col"><input class="form-control form-control-sm" name="style" placeholder="Style" type="text" value="{{ubutton.style}}"></div>
                <div class="col"><input class="form-control form-control-sm" name="other" placeholder="Other" type="text" value="{{ubutton.other}}"></div>
                <div class="col-auto" id="btn_del_button"><button class="btn btn-sm btn-danger del_button" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
            {% endfor%}
            <div id="ubuttons-ref" class="row g-1 ms-2">
                <input type="hidden" name="id">
                <div class="col-auto"><div class="form-check form-switch"><input class="form-check-input" name="display" type="checkbox"></div></div>
                <div class="col"><input class="form-control form-control-sm" name="name" placeholder="Name" required="" type="text"></div>
                <div class="col"><input class="form-control form-control-sm" name="macro" placeholder="Macro" required="" type="text"></div>
                <div class="col"><input class="form-control form-control-sm" name="css_class" placeholder="class" type="text"></div>
                <div class="col"><input class="form-control form-control-sm" name="style" placeholder="Style" type="text"></div>
                <div class="col"><input class="form-control form-control-sm" name="other" placeholder="Other" type="text"></div>
                <div class="col-auto" id="btn_add_button"><button class="btn btn-sm btn-success add_button" type="button"><i class="bi bi-plus-square-fill"></i></button></div>
                <div class="col-auto d-none" id="btn_del_button"><button class="btn btn-sm btn-danger del_button" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">Users</div>
        <div id="users" class="row">
            {%for user in settings.users%}
            {% if user["totp"] %}{% set otpclass="danger"%}{%else%}{% set otpclass="success"%}{%endif%}
            <div id="users-{{user.id}}" class="row g-1 ms-2 uchange">
                <input type="hidden" name="id" value="{{user.id}}">
                <div class="col-auto"><button class="btn btn-sm btn-outline-{{otpclass}} otp_user" type="button"><i class="bi"></i>OTP</button></div>
                <div class="col"><input class="form-control form-control-sm" name="name" placeholder="Username" required="" type="text" value="{{user.name}}" readonly></div>
                <div class="col"><input class="form-control form-control-sm" name="password" onfocusout="$(this).trigger('submit');" placeholder="Password" type="password"></div>
                <div class="col">
                    <select class="form-select form-select-sm" name="right" required>
                        {% for key,value in config.USERLEVEL.items() %}
                        <option {% if user.right == value %}selected{%endif%} value="{{value}}">{{key| capitalize}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="col-auto" id="btn_del_user"><button class="btn btn-sm btn-danger del_user" name="del_user" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
            {%endfor%}
            <div id="users-ref" class="row g-1 ms-2">
                <input type="hidden" name="id">
                <div class="col-auto"><button id="btn_otp_user" class="btn btn-sm btn-outline-success otp_user" type="button" disabled><i class="bi"></i>OTP</button></div>
                <div class="col"><input class="form-control form-control-sm" name="name" placeholder="Username" type="text" required></div>
                <div class="col"><input class="form-control form-control-sm" name="password" onfocusout="$(this).trigger('submit');" placeholder="Password" type="password" required></div>
                <div class="col">
                    <select class="form-select form-select-sm" name="right" onchange="$(this).trigger('submit');" required>
                        {% for key,value in config.USERLEVEL.items() %}
                        <option value="{{value}}">{{key| capitalize}}</option>
                        {% endfor%}
                    </select>
                </div>

                <div class="col-auto" id="btn_add_user"><button class="btn btn-sm btn-success add_user" name="add_user" type="button"><i class="bi bi-plus-square-fill"></i></button></div>
                <div class="col-auto d-none" id="btn_del_user"><button class="btn btn-sm btn-danger del_user" name="del_user" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">
            Token camera<p class="text-body-secondary">The generation of the token allows it to be passed as a parameter of the pages to avoid authentication.</p>
        </div>
        <div class="row">
            <div class="row g-1 ms-2">
                <div class="col">
                    <div id="cam_token" class="input-group">
                        <input class="form-control form-control-sm" id="token" name="token" type="text" value="{{settings.cam_token}}" disabled>
                        <button class="btn btn-sm btn-outline-secondary" id="btn_token" type="button"><i class="bi bi-clipboard"></i></button>
                        <button class="btn btn-sm btn-outline-secondary" id="get_token" type="button">Generate</button>
                        <button class="btn btn-sm btn-outline-secondary" id="del_token" type="button">Reset</button>
                    </div>
                    <a href="{{ url_for("camera.cam_pic_new", cam_token=settings.cam_token) }}" target="_blank">Stream view</a>
                    <a href="{{ url_for("camera.cam_pic", cam_token=settings.cam_token) }}" target="_blank">Last Picture</a>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">
            API Token<p class="text-body-secondary">The generation of the token allows it to be passed as a parameter of the pages to avoid authentication.</p>
        </div>
        <div class="row">
            <div class="row g-1 ms-2">
                <div class="col">
                    <div class="input-group">
                        <input class="form-control form-control-sm" id="apitoken" name="apitoken" type="text" value="{{settings.api_token}}" disabled>
                        <button class="btn btn-sm btn-outline-secondary" id="btn_api_token" type="button"><i class="bi bi-clipboard"></i></button>
                        <button class="btn btn-sm btn-outline-secondary" id="get_api_token" type="button">Generate</button>
                        <button class="btn btn-sm btn-outline-secondary" id="del_api_token" type="button">Reset</button>
                    </div>
                    <a href="{{ url_for('api.doc') }}" target="_blank">API Swagger</a>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">Options</div>
        <div class="row">
            <div class="row g-1 ms-2">
                <div class="col"><label class="form-check-label" for="servo">Servo blaster</label></div>
                <div class="col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="servo" name="servo" type="checkbox" {% if settings.servo == 1 %}checked{%endif%}>
                    </div>
                </div>
            </div>
            <div class="row g-1 ms-2">
                <div class="col"><label class="form-check-label" for="pipan">Pi Pan</label></div>
                <div class="col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="pipan" name="pipan" type="checkbox" {% if settings.pipan == 1 %}checked{%endif%}>
                    </div>
                </div>
            </div>
            <div class="row g-1 ms-2">
                <div class="col"><label class="form-check-label" for="pilight">Pi Light</label></div>
                <div class="col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="pilight" name="pilight" type="checkbox" {% if settings.pilight == 1 %}checked{%endif%}>
                    </div>
                </div>
            </div>
            <div class="row g-1 ms-2">
                <div class="col"><label class="form-label" for="upreset">UPreset</label></div>
                <div class="col-auto ">
                    <select class="form-select form-select-sm" id="upreset" name="upreset">
                        <option {% if settings.upreset == "v2" %}selected{%endif%} value="v2">v2</option>
                        <option {% if settings.upreset == "N-IMX219" %}selected{%endif%} value="N-IMX219">N-IMX219</option>
                        <option {% if settings.upreset == "P-IMX219" %}selected{%endif%} value="P-IMX219">P-IMX219</option>
                        <option {% if settings.upreset == "N-OV5647" %}selected{%endif%} value="N-OV5647">N-OV5647</option>
                        <option {% if settings.upreset == "P-OV5647" %}selected{%endif%} value="P-OV5647">P-OV5647</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">Macros</div>
        <div id="macros" class="row">
            {%for macro in config["MACROS"]%}
            <div class="row g-1 ms-2 uchange">
                <input type="hidden" name="name" value="{{macro|lower}}">
                {% if macros[macro][:1] == "-" %}
                    {% set value=macros[macro][1:] %}
                    {% set checked="" %}
                {%else%}
                    {% set value=macros[macro] %}
                    {% set checked="checked" %}
                {%endif%}
                <div class="col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="state" type="checkbox" {{checked}}>
                    </div>
                </div>

                <div class="col">{{macro|replace("_", " ")}}</div>
                <div class="col-6"><input class="form-control form-control-sm" type="text" name="command" value="{{value}}"></div>
                <div class="col-auto"><button class="btn btn-sm btn-outline-secondary" type="button" onclick="send_macroUpdate({{loop.index0}},'{{macro}}');">Execute</button></div>
            </div>
            {%endfor%}
        </div>
        <hr class="mt-3">
        <div class="row">Multiview<small>Add multiple camera display on same page <a href="{{url_for('main.multiview')}}" target="_blank">View</a></small></div>
        <div id="multiviews" class="row">
            {%for multiview in settings.multiviews%}
            <div id="multiviews-{{multiview.uid}}" class="row g-1 ms-2 uchange">
                <input type="hidden" name="id" value="{{multiview.id}}">
                <div class="col-auto"><div class="form-check form-switch"><input class="form-check-input" name="state" type="checkbox" {% if multiview.state %}checked{%endif%}></div></div>
                <div class="col"><input class="form-control form-control-sm" name="url" type="url" value="{{multiview.url}}" required></div>
                <div class="col"><input class="form-control form-control-sm" name="delay" type="number" value="{{multiview.delay}}" required></div>
                <div class="col-auto" id="btn_del_button"><button class="btn btn-sm btn-danger del_button" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
            {% endfor%}
            <div id="multiviews-ref" class="row g-1 ms-2">
                <input type="hidden" name="id">
                <div class="col-auto"><div class="form-check form-switch"><input class="form-check-input" name="state" type="checkbox"></div></div>
                <div class="col"><input class="form-control form-control-sm" name="url" placeholder="http://192.168.1.1/cam/cam_pic?token=Bxxxxxxxxxxxxx" type="url" required></div>
                <div class="col"><input class="form-control form-control-sm" name="delay" placeholder="delay" type="number" required></div>
                <div class="col-auto" id="btn_add_button"><button class="btn btn-sm btn-success add_button" type="button"><i class="bi bi-plus-square-fill"></i></button></div>
                <div class="col-auto d-none" id="btn_del_button"><button class="btn btn-sm btn-danger del_button" type="button"><i class="bi bi-dash-square-fill"></i></button></div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">Debug</div>
        <div class="row g-1 ms-2">
            <div class="col"><label class="form-check-label" for="loglevel">Verbose level</label></div>
            <div class="col-auto ">
                <select class="form-select form-select-sm" id="loglevel" name="loglevel">
                    {% for item in ["INFO","WARNING","ERROR","DEBUG"]%}
                    <option {% if settings.loglevel == item %}selected{%endif%} value="{{item}}">{{item}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
    </div>
</div>
{% include "modal_qr.html"%}
{% endblock %}
{%block extrascripts%}
<script language="javascript">
    $(function () {
        $('#main').addClass("d-none")
    });

    $('#upreset, #pilight, #pipan, #servo, #loglevel').unbind()
    $('#upreset, #pilight, #pipan, #servo, #loglevel').on("change", function(event) {
        let data = $(this).serializeObject({"checkboxesAsBools":true});
        $.queryData({url:"{{url_for('api.settings_sets')}}",data:data});
    })

    $('#btn_token, #btn_api_token').unbind();
    $('#btn_token, #btn_api_token').click(function () {
        copyToClipboard('#'+$(this).siblings('input').prop("id"));
        event.preventDefault();
    });

    $('#get_token').unbind();
    $('#get_token').click(function () {
        let callbackSuccess = function(data){
            $('#token').val(data["cam_token"])
        }
        $.queryData({url:"{{url_for('api.settings_token')}}",callbackSuccess:callbackSuccess});
    });

    $('#del_token').unbind();
    $('#del_token').click(function () {
        let callbackSuccess = function(data){$('#cam_token').val('')}
        $.queryData({method:"delete", url:"{{ url_for('api.settings_token')}}",callbackSuccess:callbackSuccess});
    });

    $('#get_api_token').unbind();
    $('#get_api_token').click(function () {
        let callbackSuccess = function(data){
            $('#apitoken').val(data["api_token"])
        }
        $.queryData({url:"{{url_for('api.settings_api_token')}}",callbackSuccess:callbackSuccess});
    });

    $('#del_api_token').unbind();
    $('#del_api_token').click(function () {
        let callbackSuccess = function(data){$('#apitoken').val('')}
        $.queryData({method:"delete", url:"{{ url_for('api.settings_api_token')}}",callbackSuccess:callbackSuccess});
    });


    $('#users').on('click','.add_user', function() {
        let parent = $(this).parent().parent();
        let data = $(parent).find('input, select').serializeObject();
        let templ = $('#users-ref').clone();
        let callbackSuccess = function(data){
            parent.find('#btn_add_user').addClass('d-none');
            parent.find('#btn_del_user').removeClass('d-none');
            parent.attr('id','users-'+data["id"]);
            parent.addClass('uchange');
            $(parent).find('input[name="name"]').prop("readonly",true);
            $(parent).find('.otp_user').prop("disabled",false);
            $(parent).find('input[name="id"]').val(data["id"])
            $(templ).find('input').val('');
            templ.insertAfter(parent);
        }
        $.queryData({url:"{{url_for('api.users_users')}}",data:data, callbackSuccess:callbackSuccess});
    });

    $('#users').on('click','.del_user', function() {
        let parent = $(this).parent().parent()
        let data = $(parent).find('input, select').serializeObject();
        let callbackSuccess = function(data){ parent.remove() }
        $.queryData({method:"delete", url:`{{ url_for('api.users_users')}}/${data["id"]}`, callbackSuccess:callbackSuccess});
    });

    $('#users').on('click','.otp_user', function() {
        let parent = $(this).parent().parent();
        let data = $(parent).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
        let callbackSuccess = function(data){
            if (!data["totp"]) {
                $('#otpmodal input').val('');
                $('#otp_svg').html(data["otp_svg"]);
                $('#userid').val(data["id"]);
                otpModal.show();
            } else if (confirm('Are you sure you want to delete OTP code ?')) {
                $.queryData({"method":"delete", "url":`{{ url_for('api.users_totp')}}/${data["id"]}`});
            }
        }
        $.queryData({method:"get", url:`{{url_for('api.users_totp')}}/${data["id"]}`,data:"", callbackSuccess:callbackSuccess});
    });

    $('#users').on('change','.uchange', function(){
        let data = $(this).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
        $.queryData({method:"put", url:`{{url_for('api.users_users')}}/${data["id"]}`, data:data});
    });

    $('#ubuttons').on('click','.add_button', function() {
        let parent = $(this).parent().parent();
        let data = $(parent).find('input').serializeObject({"checkboxesAsBools":true});
        let templ = $('#ubuttons-ref').clone();
        let callbackSuccess = function(data){
            parent.find('#btn_add_button').addClass('d-none');
            parent.find('#btn_del_button').removeClass('d-none');
            parent.attr('id','ubuttons-'+data["id"]);
            parent.addClass('uchange');
            $(parent).find('input[name="name"]').attr("readonly","readonly");
            $(parent).find('input[name="id"]').val(data["id"])
            $(templ).find('input, select, textarea').val('');
            templ.insertAfter(parent);
        }
        $.queryData({url:"{{url_for('api.settings_buttons')}}",data:data, callbackSuccess:callbackSuccess});
    });

    $('#ubuttons').on('click','.del_button', function() {
        let parent = $(this).parent().parent();
        let data = $(parent).find('input').serializeObject({"checkboxesAsBools":true});
        let callbackSuccess = function(data){ parent.remove() }
        $.queryData({method:"delete", url:`{{ url_for('api.settings_buttons')}}/${data["id"]}`, callbackSuccess:callbackSuccess});
    });

    $('#ubuttons').on('change','.uchange', function(){
        let data = $(this).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
        $.queryData({method:"put", url:`{{url_for('api.settings_buttons')}}/${data["id"]}`, data:data});
    });

    $('#multiviews').on('click','.add_button', function() {
        let parent = $(this).parent().parent();
        let data = $(parent).find('input,select,textarea').serializeObject({"checkboxesAsBools":true});
        let templ = $('#multiviews-ref').clone();
        let callbackSuccess = function(data){
            parent.find('#btn_add_button').addClass('d-none');
            parent.find('#btn_del_button').removeClass('d-none');
            parent.attr('id','multiviews-'+data["id"]);
            parent.addClass('uchange');
            $(parent).find('input[name="id"]').val(data["id"])
            $(templ).find('input, select, textarea').val('');
            templ.insertAfter(parent);
        }
        $.queryData({url:"{{url_for('api.multiview_multiviews')}}",data:data, callbackSuccess:callbackSuccess});
    });

    $('#multiviews').on('click','.del_button', function() {
        let parent = $(this).parent().parent();
        let data = $(parent).find('input,select,textarea').serializeObject({"checkboxesAsBools":true});
        let callbackSuccess = function(data){ parent.remove() }
        $.queryData({method:"delete", url:`{{url_for('api.multiview_multiviews')}}/${data["id"]}`, callbackSuccess:callbackSuccess});
    });

    $('#multiviews').on('change','.uchange', function(){
        let data = $(this).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
        $.queryData({method:"put", url:`{{url_for('api.multiview_multiviews')}}/${data["id"]}`, data:data});
    });

    $('#macros').on('change','.uchange', function(){
        let data = $(this).find('input, select, textarea').serializeObject({"checkboxesAsBools":true});
        $.queryData({url:"{{url_for('api.settings_macros')}}", data:data});
    });

    function send_macroUpdate(i, macro) {
        var macrovalue = $('#'+macro).val();
        if(! $("#"+macro+"_chk").prop("checked")) {
            macrovalue = "-" + macrovalue;
        }
        $.sendCmd({'cmd':'um', 'params':[i.toString(), macrovalue]})
    }

    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).val()).select();
        document.execCommand("copy");
        $temp.remove();
    }

</script>
{%endblock%}
