{% for thumb in thumbs %}
{%- set icon="bi-camera-reels" if thumb.file_type == "v" %}
{%- set icon="bi-images" if thumb.file_type == "t" else icon %}
{%- set icon="bi-camera" if thumb.file_type == "i" else icon %}
{%- set size=(thumb.file_size/1024)|round(2)~'MB' if thumb.file_size > 1024 else thumb.file_szie~'KB' %}
<div id="{{thumb.id}}" class="col-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2" data-bs-name="{{thumb.file_name}}">
    <div class="card shadow-sm">
        <a title="{{thumb.real_file}}" href="#" onclick="load_preview('{{thumb.id}}');scroll_top();">
            <img class="mx-auto d-block card-img-top" loading="lazy" src="{{ url_for('static', filename=config['MEDIA'])~'/'~thumb.file_name }}"/>
        </a>
        <div class="card-img-overlay" style="height:5px;">
            <i class="float-start {{icon}}" style="font-size: 16px;color: white;"></i>
            <i id="icon_lock" class="float-start bi bi-lock-fill {{'d-none' if not thumb.file_lock}}" style="font-size: 16px;color: rgb(209, 182, 28);position: absolute;right: 5px;"></i>
        </div>
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="btn-check-{{thumb.id}}" name="thumb_id" value="{{thumb.id}}">
                <label class="form-check-label" for="{{thumb.id}}">{{thumb.file_datetime}}</label>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <button class="btn btn-outline-danger btn-sm" type="button" name="delete" value="{{thumb.id}}" {{'disabled' if thumb.file_lock}}><i class="bi bi-trash"></i></button>
                <small class="text-body-secondary">{{size}} {{thumb.lapse_count if thumb.lapse_count > 0}} {{thumb.duration~'s' if thumb.duration >0 }}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}